<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Information</title>
    <link rel="stylesheet" href="./personal-information.css" />
  </head>
  <body>
    <main class="main-container">
      <div class="frame">
        <a class="frame__back-arrow" href="">
          <img src="../../assets/images/arrow-right.svg" alt="">
        </a>

        <header class="reverse-content">
          <h1 class="frame__header">اطلاعات فردی</h1>
          <img src="../../assets/images/login-img.png" alt="" />
        </header>

        <form class="form" action="">
          <div class="input">
            <div class="input__box">
              <input
                class="input__field"
                type="text"
                name="text-input"
                id="text-input"
              />
              <label class="input__label" for="text-input">نام</label>
            </div>
            <i class="ic-user ic-user_blue"></i>
          </div>

          <div class="input">
            <div class="input__box">
              <input
                class="input__field"
                type="number"
                name="number-input"
                id="number-input"
              />
              <label class="input__label" for="number-input">سن</label>
            </div>
            <i class="ic-calendar ic-calendar_blue"></i>
          </div>

          <input class="button button_primary" type="submit" value="تایید" />
        </form>
        
      </div>
    </main>
  </body>
</html>
