@use "../../sass/base";
@use "../../sass/abstracts" as *;
@use "../../sass/themes/theme";
@use "../../sass/components/form";
@use "../../sass/components/button";
@use "../../sass/components/icons";

$gradient-up-color: rgba(255, 255, 255, 0.66);
$gradient-middle-color: rgba(255, 255, 255, 0.82);
$gradient-down-color: $gradient-white;

@include icons.generate-icon("user", 2.4rem);
@include icons.generate-icon-modifier("user_blue", var(--theme-primary-500));
@include icons.generate-icon("calendar", 2.4rem);
@include icons.generate-icon-modifier(
  "calendar_blue",
  var(--theme-primary-500)
);
@include icons.generate-icon("arrow-right", 2.4rem);
@include icons.generate-icon-modifier(
  "arrow-right_dark-gray",
  var(--theme-text-primary-dark-900)
);

html {
  font-size: #{$html-font-size};
}

body {
  overflow-x: hidden;
  font-family: #{$normal-font-family};
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--theme-background);
}

.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--theme-surface);
  background-image: linear-gradient(
      $gradient-up-color 56%,
      $gradient-middle-color 1%,
      $gradient-down-color
    ),
    url("../../assets/images/login_background.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 4px #0043650c);
  padding: 4.7rem 6rem 8.8rem;
  border-radius: 24px;
  background-position-x: center;
  text-align: center;
  gap: 1.6rem;

  &__header {
    @include base.typography(text-32-52-bold-selected);
    margin: 0;
  }

  &__back-arrow {
    position: absolute;
    padding: 3.6rem;
    top: 0;
    right: 0;
  }
}

.reverse-content {
  display: flex;
  flex-direction: column-reverse;
}

.form {
  padding: 0 5rem;
  gap: 2.8rem;
}

// /* ========== Form ========== */
// .form {
//   display: flex;
//   flex-direction: column;
//   padding: 0 5rem;
//   gap: 2.8rem;

//   &__submit {
//     height: 5.6rem;
//     border-radius: 2rem;
//     border-style: none;
//     background-color: var(--primary-btn-color);
//     color: var(--primary-btn-text-color);
//     font-weight: var(--font-semi-bold);
//     line-height: var(--big-line-hight);
//     cursor: pointer;

//     &:hover {
//       background-color: var(--primary-btn-hover-color);
//     }
//   }

//   /* Hide input number arrows in Chrome, Safari, Edge, Opera */
//   input::-webkit-outer-spin-button,
//   input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }

//   /* Hide input number arrows in Firefox */
//   input[type="number"] {
//     -moz-appearance: textfield;
//   }
// }

// .input-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 0.8rem;
//   padding: 0.8rem;
//   border: 1px solid var(--border-color);
//   border-radius: 16px;
//   overflow: hidden;
//   width: 100%;
//   height: 5.6rem;

//   &__input-box {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     width: 100%;
//     height: 100%;
//   }

//   label {
//     position: absolute;
//     top: 0.5rem;
//     right: 0;
//   }

//   input:focus ~ label {
//     top: 0;
//     line-height: var(--small-line-hight);
//     font-size: var(--small-lbl-font-size);
//     color: var(--text-color);
//     transition: top 0.2s;
//   }

//   input {
//     position: relative;
//     z-index: 10;
//     border-style: none;
//     outline: none;
//     padding-top: 16px;
//     background-color: rgba(0, 0, 0, 0);
//     height: 100%;
//     width: 100%;
//     direction: rtl;
//   }
// }
