.ic-frame {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/frame.svg");
  mask: url("../../assets/images/frame.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_blue {
    background-color: var(--icon-color-active);
  }

  &_vs {
    width: var(--icon-very-small-width);
    height: var(--icon-very-small-height);
  }

  &_gray {
    background-color: var(--icon-gray-color);
  }
}

.ic-frame-fill {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/frame-fill.svg");
  mask: url("../../assets/images/frame-fill.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_blue {
    background-color: var(--icon-color-active);
  }
}

.ic-home {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/home.svg");
  mask: url("../../assets/images/home.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_blue {
    background-color: var(--icon-color-active);
  }
}

.ic-flash {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/flash.svg");
  mask: url("../../assets/images/flash.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_blue {
    background-color: var(--icon-color-active);
  }
}

.ic-note-2 {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/note-2.svg");
  mask: url("../../assets/images/note-2.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_blue {
    background-color: var(--icon-color-active);
  }
}

.ic-weight {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/weight.svg");
  mask: url("../../assets/images/weight.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_vs {
    width: var(--icon-very-small-width);
    height: var(--icon-very-small-height);
  }

  &_gray {
    background-color: var(--icon-gray-color);
  }
}

.ic-filter {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/filter.svg");
  mask: url("../../assets/images/filter.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_vs {
    width: var(--icon-very-small-width);
    height: var(--icon-very-small-height);
  }

  &_gray {
    background-color: var(--icon-gray-color);
  }
}

.ic-add {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;

  -webkit-mask: url("../../assets/images/add.svg");
  mask: url("../../assets/images/add.svg");
  -webkit-mask-size: cover;
  mask-size: cover;

  background-color: var(--icon-color);

  &_s {
    width: var(--icon-small-width);
    height: var(--icon-small-height);
  }

  &_gray {
    background-color: var(--icon-gray-color);
  }
}

