.quick-user-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &__profile {
        display: flex;
        flex-direction: row-reverse;
        gap: 1.2rem;
        direction: rtl;
        cursor: pointer;
    }

    &__img {
        border-radius: 50%;
    }

    &__name {
        font-weight: var(--font-semi-bold);
        color: var(--header-color);
    }
    
    &__event {
        font-size: var(--small-lbl-font-size);
        color: var(--header-color);

    }

    &__notif {
        cursor: pointer;
    }
}