.section-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.2rem;
    padding: 0 5%;

    @media screen and (max-width: 960px) {
        max-height: 6.4rem;
        width: 100%;
        background-color: var(--frame-color);
        padding: 2rem;
        filter: drop-shadow(-1px 1px 4px rgba(0,0,0,0.11));
        // box-shadow: -1px 1px 4px rgba(0,0,0,0.11);
    }
}

.title-container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: .8rem;

    &__back {
        display: flex;
    }
    
    &__title {
        color: var(--header-color);
        line-height: var(--extra-big-line-hight);
        font-weight: var(--font-semi-bold);
        font-size: var(--big-font-size);
    }

    @media screen and (max-width: 960px) {
        gap: 1.2rem;
    }
}



.filters {
    display: flex;
    gap: .8rem;

    &__item {
        display: flex;
        align-items: center;
        gap: .4rem;
        padding: 0 .8rem 0 1.2rem;
        background-color: var(--frame-color);
        border-radius: 12px;

        // svg {
        //     width: 16px;
            
        //     path {
        //         fill: var(--header-color);
        //     }
        // }

        @media screen and (max-width: 960px) {
            display: none;
        }
    }

    &__add {
        display: none;
        height: 2.4rem;

        @media screen and (max-width: 960px) {
            display: inline-block;
        }
    }
}