<!DOCTYPE html>
<html lang="en" dir="rtl" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create-activity-type</title>
    <link rel="stylesheet" href="./create-activity-type.css"/>
  </head>
  <body theme="light">
    <section class="section-container">
      <div class="container">
        <!-- heading -->
        <h3 class="container__heading">ایجاد نوع فعالیت</h3>
        <!-- form activity type -->
        <form class="form" action="">
          <div class="form__box">
            <input
              class="form__input-field"
              type="text"
              name="activity-type"
              id="activity-type-for"
            />
            <label class="form__label" for="activity-type-for"
              >نوع فعالیت</label
            >
          </div>
          <div class="form__img-wrapper">
            <img src="../../assets/images/weight.svg" alt="" />
          </div>
        </form>
        <!-- button -->
        <div class="container__button button">
          <button
            class="button__element button__element_white">
            لغو
          </button>
          <button class="button__element button__element_blue">
            ایجاد
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
