<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create-activity-type</title>
    <link rel="stylesheet" href="./assets/css/create-activity-type.css" />
    <link rel="stylesheet" href="./assets/fonts/Yekan/Yekan.css" />
  </head>
  <body>
    <section class="create-activity-type-container">
      <div class="create-activity-type">
        <h3 class="header-activity-page">ایجاد نوع فعالیت</h3>
        <form class="from-container" action="">
          <div class="input-container">
            <input class="input-activity-type" type="text" name="activity-type" id="activity-type-for" />
            <label class="label-activity-type" for="activity-type-for">نوع فعالیت</label>
          </div>
          <div class="img-input">
            <img src="./assets/images/weight.svg" alt="" />
          </div>
        </form>
        <div class="button-container">
          <button class="button color-white">ایجاد</button>
          <button class="button color-blue">لغو</button>
        </div>
      </div>
    </section>
  </body>
</html>
