@use "../base/typography";
@use "../abstracts/variables" as *;
@use "../../sass/abstracts/breakpoint-manager";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(7% + 1.2rem) 0 6.5%;

  &__more {
    display: none;
  }

  &__title-more {
    font-size: var(--font-size-xs);
    color: var(--date-time-color);
    line-height: var(--line-height-s);
  }

  @include breakpoint-manager.respond-to("medium") {
    padding: 0 2.8rem;

    &__more {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }
}

.title-container {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: center;
  // gap: 0.8rem;

  &__back {
    display: flex;
  }

  &__title {
    @include typography.title-font-l-m();
  }

  div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.8rem;
  }

  @include breakpoint-manager.respond-to("medium") {
    gap: 1.2rem;
  }
}
