// ---========== Colors ==========---
$gray-100: #f6f8ff;
$gray-200: #dadce5;
$gray-300: #bec1ca;
$gray-400: #a2a5b0;
$gray-500: #868a95;
$gray-700: #5b5e69;
$gray-900: #2e2f32;

$light-gray-600: #6b6b6b;
$dark-gray-900: #292d32;

$primary-50: #f2f4fa;
$primary-100: #f4f7fc;
$primary-200: #cee0fc;
$primary-300: #a9cafd;
$primary-500: #5f9dfe;
$primary-600: #2471eb;
$primary-900: #0451cd;
// $primary-600-hover: darken($primary-600, 10%);

$error-100: #fff2f2;
$error-600: #e35053;
$error-700: #dd2c2f;

$warning-200: #fee6cf;
$warning-900: #e86e00;
$warning-main: #f7953b;

$info-100: #eff9ff;
$info-600: #58c2fe;
$info-main: #1dadfe;

$secondary-100: #fff3db;
$secondary-600: #ffa400;
$secondary-main: #ffbf00;

$success-400: #4ad66d;
$success-500: #2dc653;
$success-main: #25a244;

$tertiary-100: #fff5ff;
$tertiary-600: #ae3ec9;

$bg-light-surface: #ffffff;
$bg-light-default: #fafafa;

$text-light-selected: #464646;
$text-light-base: #5a5a5a;

$unselected: #d9e2ed;
$scroll: darkgrey;
$scroll-outline: slategrey;

$gradient-white: rgba(255, 255, 255, 1);
$gradient-transparent: rgba(255, 255, 255, 0);

// ---========== Font and Typography ==========---
$normal-font-family: 'Yekan Bakh', Tahoma, sans-serif, serif;
$html-font-size: 62.5%;

// ---========== Font weight ==========---
$font-semi-bold: 600;
$font-bold: 700;

// ---========== Font size ==========---
$font-size-11xl:4.0rem;
$font-size-7xl: 3.2rem;
$font-size-3xl: 2.4rem;
// $font-size-xxl: 2.2rem;
$font-size-xl: 2rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;

// ---========== line height ==========---
$line-height-5xl: 5.2rem;
$line-height-4xl: 4.8rem;
$line-height-xxl: 4rem;
$line-height-xl: 3.6rem;
$line-height-l: 3.2rem;
$line-height-m: 2.8rem;
$line-height-s: 2.4rem;
$line-height-xs: 2rem;
$line-height-xxs: 1.6rem;
