@use "../../sass/base";
@use "../../sass/abstracts" as *;
@use "../../sass/themes/theme";
@use "../../sass/components/form";
@use "../../sass/components/button";
@use "../../sass/components/icons";

$gradient-up-color: rgba(255, 255, 255, 0.66);
$gradient-middle-color: rgba(255, 255, 255, 0.82);
$gradient-down-color: $gradient-white;

html {
  font-size: #{$html-font-size};
}

body {
  overflow-x: hidden;
  font-family: #{$normal-font-family};
}

/* ========== Layout ========== */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--theme-background);
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--theme-surface);
  background-image: linear-gradient(
      $gradient-up-color 56%,
      $gradient-middle-color 1%,
      $gradient-down-color
    ),
    url("../../assets/images/login_background.svg");
  background-repeat: no-repeat;
  padding: 4.7rem 6rem 4rem;
  border-radius: 24px;
  background-position-x: center;
  text-align: center;
  gap: 1.6rem;

  /* ========== Header ========== */
  &__header {
    @include base.typography(text-32-52-bold-selected);
    margin: 0;
  }

  /* ========== Footer ========== */
  &__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    p {
      @include base.typography(text-16-32-normal-base);
    }

    a {
      @include base.typography(text-16-28-semi-selected);
    }
  }
}

.reverse-content {
  display: flex;
  flex-direction: column-reverse;
}

.form {
  padding: 0 5rem;
  gap: 2.8rem;
}
