<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <main class="main-container">
      <div class="frame">
        <!-- ============ Header ============ -->
        <header class="reverse-content">
          <h1 class="frame__header">ورود</h1>
          <img src="../../assets/images/login-img.png" alt="" />
        </header>
        <!-- ============ Form ============ -->
        <form class="form" action="">
          <div class="input">
            <div class="input__box">
              <input
                class="input__field"
                type="email"
                name="email-input"
                id="email-input"
              />
              <label class="input__label" for="email-input">ایمیل</label>
            </div>
            <img src="../../assets/images/person.svg" alt="" />
          </div>

          <div class="input">
            <img
              class="input__hide-pass"
              src="../../assets/images/eye-slash.svg"
              alt=""
            />
            <div class="input__box">
              <input
                class="input__field"
                type="password"
                name="password-input"
                id="password-input"
              />
              <label class="input__label" for="password-input">رمز عبور</label>
            </div>
            <img src="../../assets/images/lock.svg" alt="" />
          </div>

          <input class="button button_primary" type="submit" value="ورود" />
        </form>
        <!-- ============ Footer ============ -->
        <footer class="frame__footer">
          <a href="">ثبت نام</a>
          <p>حساب کاربری ندارید؟</p>
        </footer>
      </div>
    </main>
  </body>
</html>
