<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-password</title>
    <link rel="stylesheet" href="./edit-password.css" />
  </head>
  <body >
    <section class="frame-modal">
      <div class="container">
        <h3 class="container__heading">تغییر رمز ورود.</h3>
        <!-- section password-->
        <section class="container__form-password">
          
          <form class="form" action="">
            <!-- current password form-->
            <div class="input">
              <a id="hidden-password-img">
                <img src="../../assets/images/eye-slash.svg" alt="" />
              </a>

              <div class="input__box">
                <input
                  class="input__field"
                  type="password"
                  name="current-password"
                  id="current-password"
                />

                <label class="input__label" for="current-password"
                  >رمز عبور فعلی</label
                >
              </div>
              <img src="../../assets/images/user.svg" alt="" />
            </div>
            <!-- new password form-->
            <div class="input" action="">
              <a id="hidden-password-img">
                <img src="../../assets/images/eye-slash.svg" alt="" />
              </a>
              <div class="input__box">
                <input
                  class="input__field"
                  type="password"
                  name="new-password"
                  id="new-password"
                />
                <label class="input__label" for="new-password"
                  >رمز عبور جدید</label
                >
              </div>
              <img src="../../assets/images/user.svg" alt="" />
            </div>
            <!-- repeat new password form -->
            <div class="input" action="">
              <a id="hidden-password-img">
                <img src="../../assets/images/eye-slash.svg" alt="" />
              </a>
              
              <div class="input__box">
                <input
                  class="input__field"
                  type="password"
                  name="repeat-new-password"
                  id="repeat-new-password"
                />
              
                <label class="input__label" for="repeat-new-password"
                  >تکرار رمز عبور جدید</label
                >
              </div>
              <img src="../../assets/images/user.svg" alt="" />
            </div>
            <!-- button -->
            <div class="form__button-container"> 
              <input
                class="button button_secondary"
                type="button"
                value="لغو"
              />

              <input
                class="button button_primary"
                type="submit"
                value="تایید"
              />
            </div>
          </form>


        </section>


      </div>
    </section>
  </body>
</html>
