@use '../abstracts/breakpoint-manager';
@use '../abstracts/variables' as *;

@mixin typography($large-screen, $medium-screen: null) {
  $large-screen-properties: map-get($typography-map, $large-screen);

  font-size: map-get($large-screen-properties, 'font-size');
  line-height: map-get($large-screen-properties, 'line-height');
  font-weight: map-get($large-screen-properties, 'font-weight');
  color: map-get($large-screen-properties, 'color');

  @if $medium-screen {
    @include breakpoint-manager.respond-to('medium') {
      $medium-screen-properties: map-get($typography-map, $medium-screen);

      font-size: map-get($medium-screen-properties, 'font-size');
      line-height: map-get($medium-screen-properties, 'line-height');
      font-weight: map-get($medium-screen-properties, 'font-weight');
      color: map-get($medium-screen-properties, 'color');
    }
  }
}

$typography-map: (
  text-18-32-bold-900: (
    font-size: $font-size-l,
    line-height: $line-height-l,
    font-weight: bold,
    color: var(--theme-text-primary-900)
  ),
  text-16-28-semi-900: (
    font-size: $font-size-m,
    line-height: $line-height-m,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-900)
  ),
  text-16-32-semi-selected: (
    font-size: $font-size-m,
    line-height: $line-height-l,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-selected)
  ),
  text-14-24-semi-selected: (
    font-size: $font-size-s,
    line-height: $line-height-s,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-selected)
  ),
  text-16-28-semi-selected: (
    font-size: $font-size-m,
    line-height: $line-height-m,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-selected)
  ),
  text-16-28-semi-base: (
    font-size: $font-size-m,
    line-height: $line-height-m,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-base)
  ),
  text-12-16-normal-base: (
    font-size: $font-size-xs,
    line-height: $line-height-xxs,
    font-weight: normal,
    color: var(--theme-text-primary-base)
  ),
  text-32-52-bold-selected: (
    font-size: $font-size-7xl,
    line-height: $line-height-5xl,
    font-weight: bold,
    color: var(--theme-text-primary-selected)
  ),
  text-16-32-normal-base: (
    font-size: $font-size-m,
    line-height: $line-height-l,
    font-weight: normal,
    color: var(--theme-text-primary-base)
  ),
  text-16-28-bold-900: (
    font-size: $font-size-m,
    line-height: $line-height-m,
    font-weight: bold,
    color: var(--theme-text-primary-900)
  ),
  text-14-28-normal-light-600: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: normal,
    color: var(--theme-text-primary-light-600)
  ),
  text-12-20-normal-light-600: (
    font-size: $font-size-xs,
    line-height: $line-height-xs,
    font-weight: normal,
    color: var(--theme-text-primary-light-600)
  ),
  text-16-32-normal-700: (
    font-size: $font-size-m,
    line-height: $line-height-l,
    font-weight: normal,
    color: var(--theme-text-primary-700)
  ),
  text-14-28-normal-700: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: normal,
    color: var(--theme-text-primary-700)
  ),
  text-12-20-normal-700: (
    font-size: $font-size-xs,
    line-height: $line-height-xs,
    font-weight: normal,
    color: var(--theme-text-primary-700)
  ),
  text-14-28-semi-700: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-700)
  ),
  text-12-20-semi-700: (
    font-size: $font-size-xs,
    line-height: $line-height-xs,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-700)
  ),
  text-14-28-normal-900: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: normal,
    color: var(--theme-text-primary-900)
  ),
  text-12-20-semi-900: (
    font-size: $font-size-xs,
    line-height: $line-height-xs,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-900)
  ),
  text-14-28-semi-500: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: $font-semi-bold,
    color: var(--theme-text-primary-500)
  ),
  text-16-32-normal-900: (
    font-size: $font-size-m,
    line-height: $line-height-l,
    font-weight: normal,
    color: var(--theme-text-primary-900)
  ),
  text-10-16-normal-700: (
    font-size: $font-size-xxs,
    line-height: $line-height-xxs,
    font-weight: normal,
    color: var(--theme-text-primary-700)
  ),
  text-14-28-semi-notColor: (
    font-size: $font-size-s,
    line-height: $line-height-m,
    font-weight: normal,
    // color: var(--theme-warning-900),
  )
);
