@use "../../sass/base/reset";
@use "../../sass/base/font-face";
@use "../../sass/themes/theme";
@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/breakpoint-manager";
@use "../../sass/layout/top-bar";
@use "../../sass/layout/left-side-bar";
@use "../../sass/layout/header";
@use "../../sass/components/nav-bar";
@use "../../sass/components/icons";
@use "../../sass/components/mini-profile";
@use "../../sass/components/calender";
@use "../../sass/components/filters";
@use "../../sass/components/activity-type-card";
@use "../../sass/components/label";
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/components/box-or-img-slider";

@include icons.config-icon-colors(
  "home",
  "flash",
  "note-2",
  "frame-fill",
  "notification",
  "arrow-left",
  "arrow-right",
  "more",
  "calendar",
  "clock",
  "frame",
  "weight",
  "filter",
  "add"
);

html {
  font-size: #{$html-font-size};
}

body {
  overflow-y: hidden;
  font-family: #{$normal-font-family};
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-hight);
}

/* ========== Layout ========== */
.full-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: var(--frame-color);

  @include breakpoint-manager.respond-to("medium") {
    flex-direction: column-reverse;
    background-color: var(--main-color);
    padding-top: 5.4rem;

    .title-container {
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
    }

    .mini-profile {
      display: none;
    }

    .header {
      margin-top: 4rem;
    }
  }
}

.main-container {
  width: 100%;
  padding: 8rem 0 2rem;
  background-color: var(--main-color);
  border-radius: 40px 40px 0 0;
  margin-top: 0.8rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include breakpoint-manager.respond-to("medium") {
    padding: 0;
    height: 100%;
    align-items: center;
    margin: 0;
    border-radius: 0;
    gap: 0;
  }
}

.main-content {
  width: 100%;
  padding: 0 6.5%;

  @include breakpoint-manager.respond-to("medium") {
    margin-bottom: 9.2rem;
  }
}

.cards-container {
  direction: rtl;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem 2rem;
  width: 100%;
  padding-bottom: 2.8rem;

  @include breakpoint-manager.respond-to("medium") {
    padding: 2rem 0 15rem;
    justify-content: center;
  }
}

.add-something {
  display: none;

  @include breakpoint-manager.respond-to("medium") {
    display: inline-block;
    height: 2.4rem;
  }
}
