<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <link rel="stylesheet" href="./activity-types.css" />
  </head>
  <body theme="light">
    <div class="full-container">
      <!-- ---============ Navigation ============--- -->
      <nav class="enhanced-navigation">
        <div class="icon-menu">
          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-home ic-home_active"></i>
            </a>

            <a href="">
              <i class="ic-flash"></i>
            </a>
          </div>

          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-note-2"></i>
            </a>

            <a class="icon-menu__profile-icon" href="">
              <i class="ic-frame-fill"></i>
            </a>
          </div>
        </div>

        <img
          class="icon-menu__add-icon"
          src="../../assets/images/add-circle.svg"
          alt=""
        />
      </nav>

      <!-- ---============ Main ============--- -->
      <main class="main-container">
        <!-- ---============ Main Header with Filters ============--- -->
        <header class="header">
          <div class="title-container top-bar">
            <div>
              <h4 class="title-container__title">نوع فعالیت ها</h4>
              <a class="title-container__back" href="">
                <img src="../../assets/images/arrow-right.svg" alt="" />
              </a>
            </div>

            <!-- What is this doing? -->
            <a class="add-somting" href="">
              <i class="ic-add ic-add_s ic-add_gray"></i>
            </a>
          </div>
        </header>

        <!-- ---============ Cards container ============--- -->
        <div class="main-content">
          <div class="cards-container">

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">دراز و نشست</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">شنا سوئدی 💪</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">دوچرخه سواری</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">پیاده روی</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">فیتنس</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">دو</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>
          </div>
        </div>
      </main>

      <!-- ----============ Side Bar ============--- -->
      <aside class="l-side-bar">
        <!-- ----============ Mini Profile ============--- -->
        <div class="mini-profile">
          <div class="mini-profile__profile-section">
            <div>
              <p class="mini-profile__user-name">بهنام وهانی</p>
              <p class="mini-profile__user-last-event">بدون رویداد</p>
            </div>

            <div class="mini-profile__profile-img">
              <img src="../../assets/images/Avatar.svg" alt="" />
            </div>
          </div>

          <div class="mini-profile__notification">
            <img src="../../assets/images/notification.svg" alt="" />
          </div>
        </div>

        <!-- ----============ Calender ============--- -->
        <div class="calender">
          <div class="calender__month">
            <p>مهر ۱۴۰۱</p>
            <div class="calender__next-prev-month">
              <i class="ic-arrow-left ic-arrow-left_xs ic-arrow-left_gray"></i>
              <i
                class="ic-arrow-right ic-arrow-right_xs ic-arrow-right_gray"
              ></i>
            </div>
          </div>
          <div>
            <ul class="calender__weekdays">
              <li>ش</li>
              <li>ی</li>
              <li>د</li>
              <li>س</li>
              <li>چ</li>
              <li>پ</li>
              <li>ج</li>
            </ul>
          </div>
          <div>
            <ul class="calender__days">
              <li class="calender__day_inactive">۲۸</li>
              <li class="calender__day_inactive">۲۹</li>
              <li class="calender__day_inactive">۳۰</li>
              <li class="calender__day_inactive">۳۱</li>
              <li>۱</li>
              <li>۲</li>
              <li>۳</li>
              <li>۴</li>
              <li>۵</li>
              <li class="calender__day_today">۶</li>
              <li>۷</li>
              <li>۸</li>
              <li>۹</li>
              <li>۱۰</li>
              <li>۱۱</li>
              <li>۱۲</li>
              <li>۱۳</li>
              <li>۱۴</li>
              <li>۱۵<s class="calender__day_have-event">۲</s></li>
              <li>۱۶</li>
              <li>۱۷</li>
              <li>۱۸</li>
              <li>۱۹</li>
              <li>۲۰</li>
              <li>۲۱</li>
              <li>۲۲</li>
              <li>۲۳</li>
              <li>۲۴</li>
              <li>۲۵</li>
              <li>۲۶</li>
              <li>۲۷</li>
              <li>۲۸</li>
              <li>۲۹</li>
              <li>۳۰</li>
              <li class="calender__day_inactive">۱</li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
