<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./register.css" />
  </head>
  <body>
    <main class="main-container">
      <div class="frame">
        <a class="frame__back-arrow" href="">
          <i class="ic-arrow-right ic-arrow-right_dark-gray"></i>
        </a>

        <header class="reverse-content">
          <h1 class="frame__header">ثبت نام</h1>
          <img src="../../assets/images/login-img.png" alt="" />
        </header>

        <form class="form" action="">
          <div class="input">
            <div class="input__box">
              <input
                class="input__field"
                type="email"
                name="email-input"
                id="email-input"
              />
              <label class="input__label" for="email-input">ایمیل</label>
            </div>
            <i class="ic-user ic-user_blue"></i>
          </div>

          <div class="input">
            <i class="input__hide-pass ic-eye-slash ic-eye-slash_dark-gray"></i>
            <div class="input__box">
              <input
                class="input__field"
                type="password"
                name="password-input"
                id="password-input"
              />
              <label class="input__label" for="password-input">رمز عبور</label>
            </div>
            <i class="ic-lock ic-lock_blue"></i>
          </div>

          <input class="button button_primary" type="submit" value="ثبت نام" />
        </form>
      </div>
    </main>
  </body>
</html>
