<!DOCTYPE html>
<html lang="en" theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit-subscribtion</title>
    <link rel="stylesheet" href="./edit-subscribtion.css">
    <link rel="stylesheet" href="../../../assets/fonts/Yekan/Yekan.css">
</head>
<body>
    <section class="section-container">
        <div class="container">
          <h3 class="container__heading">نوع اشتراک خود را انتخاب کنید.</h3>
          <section class="container__subscribtion subscribtion">
            <a class="subscribtion__member">
                <p>عادی</p>
                <div class="subscribtion_img">
                    <img src="../../../assets/images/frame.svg" alt="">
                </div>
            </a>
            <a class="subscribtion__member">
                <p>ویژه</p>
                <div class="subscribtion_img">
                    <img src="../../../assets/images/crown.svg" alt="">
                </div>
            </a>
            </section >
          <div class="container__button button">
            <button
              class="button__element button__element-white">
              لغو
            </button>
            <button class="button__element button__element-blue">
              تایید
            </button>
          </div>
        </div>
      </section>
</body>
</html>