@use "../abstracts/mixins" as *;
@use "../../sass/base/typography";
@use "../abstracts/variables" as *;

.img {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 1.2rem;
  height: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &__create-activity {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    min-width: 9.6rem;
    max-width: 9.6rem;
    height: 9.6rem;
    border-radius: 2.4rem;
    background: var(--frame-color);
    box-shadow: 0 0 0.4rem 0 rgba(0, 67, 101, 0.05);
    img {
      @include img-fill;
    }
  }
}
#img-add {
  object-fit: none;
}