@use "../abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;
.button {
  @include box-container-direction-row(0.8rem);
  
  &__element {
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    height: 5.6rem;
    transition-duration: 0.5s;
    transition-property: background-color;
    width: 100%;

    &_blue {
      border-radius: 2rem;
      background: var(--button-blue);
      color: var(--button-white);
    }

    &_white {
      background: var(--button-white);
      border: 2px solid var(--button-blue);
      color: var(--button-blue);
    }

  }

  &__element:hover {
    background-color: var(--pink-button);
  }

}
#margin-left {
  margin-left: 2.4rem;
}
