@use "../abstracts/variables" as *;
@use "../themes/theme" as *;
@use "../base/typography" as *;

.button {
  height: 5.6rem;
  width: 100%;
  @include typography("text-16-32-semi-selected", "text-14-24-semi-selected");
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background-color;

  &_primary {
    background: var(--theme-primary-600);
    color: var(--theme-on-primary-100);
  }

  &_secondary {
    background: transparent;
    border: 2px solid var(--theme-primary-600);
    color: var(--theme-on-primary-600);
  }

  // &:hover {
  //   background-color: var();
  // }
}
