@use "../base/typography" as *;
@use "../../sass/abstracts/breakpoint-manager";

.filters {
  display: flex;
  gap: 0.8rem;
  overflow-x: hidden;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0 0.8rem;
    background-color: var(--theme-surface);
    border-radius: 12px;
    filter: drop-shadow(0 0 4px #0043650c);
    @include typography("text-14-28-normal-900", "text-12-20-semi-900");

    &_selected {
      background-color: var(--theme-primary-200);
      color: var(--theme-primary-900);
      border: 0.1rem solid var(--theme-primary-500);
    }
  }

  @include breakpoint-manager.respond-to("medium") {
    background-color: var(--theme-surface);
    border-radius: 12px;
    filter: drop-shadow(0 0 4px #0043650c);
    gap: 0;
    padding: 0.2rem 0;
    min-width: 31.9rem;

    &__item + &__item {
      border-right: 1px solid;
      border-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 25%,
        var(--theme-text-primary-300) 26%,
        var(--theme-text-primary-300) 74%,
        rgba(0, 0, 0, 0) 75%
      );
      border-image-slice: 1;
    }

    &__item_selected + &__item {
      border: none;
    }

    &__item + &__item_selected {
      border: none;
    }

    &__item {
      filter: drop-shadow(0 0 4px #00000000);
      padding: 0.4rem 2.5rem;

      &_selected {
        border-style: none;
      }
    }
  }
}
