@use "../abstracts/variables" as *;
@use "../abstracts/breakpoint-manager";

@mixin generate-icon(
  $icon-name,
  $large-screen-size,
  $medium-screen-size: null,
) {
  .ic-#{$icon-name} {
    min-width: #{$large-screen-size};
    height: #{$large-screen-size};
    display: inline-block;

    -webkit-mask: url("../../assets/images/#{$icon-name}.svg");
    mask: url("../../assets/images/#{$icon-name}.svg");
    -webkit-mask-size: cover;
    mask-size: cover;

    @include breakpoint-manager.respond-to("medium") {
      @if $medium-screen-size {
        width: #{$medium-screen-size};
        height: #{$medium-screen-size};
      }
    }
  }
}

@mixin generate-icon-modifier(
  $icon-modifier-name,
  $large-screen-color,
  $medium-screen-color: null
) {
  .ic-#{$icon-modifier-name} {
    background-color: #{$large-screen-color};

    @include breakpoint-manager.respond-to("medium") {
      @if $medium-screen-color {
        background-color: #{$medium-screen-color};
      }
    }
  }
}

// 🡫🡫🡫🡫 following code must be remove after refactor 🡫🡫🡫🡫
@mixin config-icon-colors($icon-names...) {
  @each $name in $icon-names {
    .ic-#{$name} {
      width: var(--icon-width-m);
      height: var(--icon-height-m);
      display: inline-block;

      -webkit-mask: url("../../assets/images/#{$name}.svg");
      mask: url("../../assets/images/#{$name}.svg");
      -webkit-mask-size: cover;
      mask-size: cover;

      background-color: var(--icon-color);

      &_s {
        width: var(--icon-width-s);
        height: var(--icon-height-s);
      }

      &_s-static {
        width: var(--icon-width-s);
        height: var(--icon-height-s);
      }

      &_xs {
        width: var(--icon-width-xs);
        height: var(--icon-height-xs);
      }

      &_xs-static {
        width: var(--icon-width-xs);
        height: var(--icon-height-xs);
      }

      &_3xs {
        width: var(--icon-width-3xs);
        height: var(--icon-height-3xs);
      }

      &_3xs-static {
        width: var(--icon-width-3xs);
        height: var(--icon-height-3xs);
      }

      &_4xs-static {
        width: var(--icon-width-4xs);
        height: var(--icon-height-4xs);
      }

      &_5xs-static {
        width: var(--icon-width-5xs);
        height: var(--icon-height-5xs);
      }

      &_gray {
        background-color: var(--icon-gray-color);
      }

      &_blue {
        background-color: var(--icon-blue-light-color);
      }

      &_orange {
        background-color: var(--icon-orange-color);
      }

      &_sky-blue {
        background-color: var(--icon-sky-blue-color);
      }

      &_yellow {
        background-color: var(--icon-yellow-color);
      }

      &_active {
        background-color: var(--icon-blue-color);
      }

      &_blue-lighter-static {
        background-color: var(--icon-blue-lighter-color);
      }

      @include breakpoint-manager.respond-to("medium") {
        width: var(--icon-width-s);
        height: var(--icon-height-s);

        &_s {
          width: var(--icon-width-xs);
          height: var(--icon-height-xs);
        }

        &_s-static {
          width: var(--icon-width-s);
          height: var(--icon-height-s);
        }

        &_xs-static {
          width: var(--icon-width-xs);
          height: var(--icon-height-xs);
        }

        &_3xs {
          width: var(--icon-width-4xs);
          height: var(--icon-height-4xs);
        }

        &_4xs {
          width: var(--icon-width-5xs);
          height: var(--icon-height-5xs);
        }

        &_4xs-static {
          width: var(--icon-width-4xs);
          height: var(--icon-height-4xs);
        }

        &_3xs-static {
          width: var(--icon-width-3xs);
          height: var(--icon-height-3xs);
        }

        &_5xs-static {
          width: var(--icon-width-5xs);
          height: var(--icon-height-5xs);
        }

        &_blue {
          background-color: var(--icon-blue-lighter-color);
        }
      }
    }
  }
}
// 🡡🡡🡡🡡 code until here must be remove after refactor 🡡🡡🡡🡡
