@use "../abstracts/variables" as *;
@use "../base/typography";
@use "../../sass/abstracts/breakpoint-manager";
@use "../themes/theme";

.lbl {
  @include typography.text-font-s-m-regular();
  font-weight: #{$font-semi-bold};
  font-weight: var(--font-semi-bold);
  border-radius: 1.6rem;
  padding: 0.2rem 0.8rem;
  align-self: flex-start;

  &_red {
    background-color: var(--red-light-label);
    color: var(--red-normal-label);
  }

  &_orange {
    background-color: var(--orang-light-label);
    color: var(--orange-normal-label);
  }

  &_yellow {
    background-color: var(--yellow-light-label);
    color: var(--yellow-normal-label);
  }

  &_blue {
    background-color: var(--blue-light-label);
    color: var(--blue-normal-label);
  }

  @include breakpoint-manager.respond-to("medium") {
    border-radius: 1.2rem;
  }
}
