@use "../abstracts/mixins" as *;
@use "../../sass/abstracts/breakpoint-manager";
@use "../../sass/base/typography";
@use "../abstracts/variables" as *;

//report-section
.report {
  width: 100%;

  &__heading-report {
    margin-bottom: 1.6rem;
  }

  &__container {
    width: 100%;
    @include box-container-direction-row(2rem);
    flex-wrap: wrap;
  }

  &__most-activity {
    @include report-box;
    padding: 2.2rem 2.4rem;
    width: 28rem;
    direction: rtl;
  }

  &__most-activity-img {
    position: relative;
    width: 8rem;
    max-height: 8rem;

    img {
      @include img-fill;
    }

    p {
      position: absolute;
      top: 1.8rem;
      left: 3.3rem;
      font-size: var(--font-size-xxl);
      line-height: var(--line-height-xl-xl);
      font-weight: #{$font-semi-bold};
      color: var(--frame-color);
    }
  }

  &__most-activity-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      @include typography.title-font-l();
    }

    p {
      text-align: right;
      @include typography.text-font-ml-sm();
    }
  }

  &__activity-chart {
    width: 48rem;
    @include report-box;
    padding: 1.8rem 2.4rem;

    h3 {
      @include typography.title-font-l();
    }
  }

  &__activity-chart-line {
    gap: 1rem;
    @include flex-row-space-between;

    p {
      text-align: right;
      @include typography.text-font-ml-xs();
    }

    > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__activity-chart-details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 60%;
    align-items: center;
    gap: 0.8rem;
  }

  &__chart-bar {
    border-radius: 0.8rem 0 0 0.8rem;
    height: 0.8rem;
  }

  &__chart-bar_extra10 {
    background: #4ad66d;
    width: 90%;
  }

  &__chart-bar_extra7 {
    background: #ffbf00;
    width: 60%;
  }

  &__chart-bar_extra3 {
    background: #f7953b;
    width: 35%;
  }

  &__summary-activity {
    width: 38rem;
    @include report-box(space-between, 1.6rem);
    padding: 2rem 2.4rem;
  }

  &__summary-heading {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;

    h3 {
      @include typography.title-font-l();
      text-align: right;
    }
  }

  &__summary-heading-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__summary-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    direction: rtl;
    gap: 0.8rem;
  }

  &__summary-plan-line {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      gap: 0.8rem;

      > p {
        @include typography.text-font-ml-xss();
      }
    }

    > p {
      @include typography.text-font-static-sm-xss();
    }
  }
  @include breakpoint-manager.respond-to("medium") {
    &__container {
      gap: 0.8rem;
    }

    &__most-activity {
      max-width: 10.8rem;
      padding: 2.7rem 1.5rem;
    }

    &__activity-chart {
      max-width: 19.6rem;
      padding: 1.4rem 1.6rem;
    }

    &__summary-activity {
      max-width: 31.2rem;
      padding: 1.6rem 1.6rem;
    }

    &__most-activity-img {
      width: 3rem;
      max-height: 3rem;

      p {
        position: absolute;
        top: 0;
        left: 0.8rem;
        font-size: var(--font-size-xxl);
        line-height: var(--line-height-m);
        font-weight: $font-semi-bold;
        color: var(--frame-color);
      }
    }

    &__activity-chart-line {
      > p {
        min-width: 6.4rem;
      }
    }
  }
}

.heading-report {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  h2 {
    color: var(--header-color);
    text-align: right;
    font-size: var(--font-size-l);
    font-weight: $font-bold;
    line-height: var(--line-height-l);
  }

  &__calender {
    @include box-container-direction-row(0.8rem);

    p {
      display: flex;
      padding: 0rem 0.8rem;
      justify-content: flex-end;
      align-items: center;
      border-radius: 1.2rem;
      font-size: var(--font-size-s);
      line-height: var(--line-height-m);
      color: var(--header-color);
    }

    &_white {
      background: var(--frame-color);
      box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 67, 101, 0.05);
    }

    &_blue {
      border: 0.1rem solid var(--border-blue);
      background: var(--background-blue-light);
    }
  }
}
