<!DOCTYPE html>
<html lang="en" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>activity-page</title>
    <link rel="stylesheet" href="./activity-page.css" />
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css" />
  </head>
  <body>
    <div class="activity-page-container">
      <section class="activity-page">
        <h3 class="activity-page__header-name">شنا</h3>
        <div class="activity-page__img-container">
          <img
            class="activity-page__img"
            src="../../assets/images/Swedish_swimming.png"
            alt="Swedish swimming"
          />
          <div class="activity-page__svg">
            <img src="../../assets/images/Next.svg" alt="next svg for slider" />
            <img
              src="../../assets/images/Current.svg"
              alt="current svg for slider"
            />
            <img
              src="../../assets/images/Previous.svg"
              alt="previous svg for slider"
            />
          </div>
        </div>
        <p class="activity-page__description">
          شنای سوئدی در واقع یکی از ساده‌ترین ورزش‌هایی است که با آن می‌توانید
          قدرت خود را افزایش دهید. شنای سوئدی در واقع یکی از ساده‌ترین ورزش‌هایی
          است که با آن می‌توانید قدرت خود را افزایش دهید.
        </p>
        <h2 class="activity-page__time-activity">زمان فعالیت</h2>
        <div class="activity-page__calender-time">
          <div class="activity-page__calender">
            <p >۲۲ مهر</p>
            <img
              
              src="../../assets/images/calendar.svg"
              alt="celender svg"
            />
          </div>
          <div class="activity-page__time">
            <p >۸:۳۰ تا ۹:۴۵</p>
            <img
              
              src="../../assets/images/clock.svg"
              alt="clock svg"
            />
          </div>
        </div>
        <h2 class="activity-page__activity-type">نوع فعالیت</h2>
        <div class="activity-page__tag activity-page__tag_orange ">
          <p >شنا</p>
        </div>
      </section>
    </div>
  </body>
</html>
