@use "../../sass/base/reset";
@use "../../sass/base/font-face";
@use "../../sass/themes/theme";
@use "../../sass/abstracts/variables" as *;
@use "../../sass/components/button";
@use "../../sass/components/form";
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/base/typography";
@use "../../sass/layout/frame_modal";

html {
  font-size: #{$html-font-size};
}

body {
  font-family: #{$normal-font-family};
}


.activity-page {
  width: 38rem;
  border-radius: 2rem;
  background: var(--secondary-color);
  padding: 3.2rem 2.4rem 9.5rem 2.4rem;
  
  &__header-name {
    @include typography.title-font-l-l-modal();
    margin-bottom: 2.4rem;
    text-align: center;
  }
  
  &__img-container {
    position: relative;
    max-width: 33.2rem;
    max-height: 18.9rem;
  }
  
  &__img {
    width: 33.2rem;
    height: 18.9rem;
    img{
      @include img-fill;
    }
    
  }
  
  &__svg {
    position: absolute;
    bottom: 0.4rem;
    left: 50%;
  }
  
  &__description {
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    @include typography.text-font-m-l-light();
  }
  
  &__time-activity-heading {
    @include typography.title-font-l-l-modal();
    text-align: right;
    margin-bottom: 1.2rem;
  }
  
  &__date-time-container {
    display: inline-flex;
    margin-left: 2.4rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  &__date {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
  
    p {
      @include typography.text-font-static-s();
      // text-align: right;
      color: var(--date-time-color);
    }
  }
  
  &__time {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.4rem;
  
    p {
      @include typography.text-font-static-s();
      color: var(--date-time-color);
    }
  }
  
  &__tag-heading {
    @include typography.title-font-l-l-modal();
    margin-bottom: 1.6rem;
  }
  
  &__tag {
    border-radius: 1.2rem;
    display: inline-flex;
    padding: 0.2rem 0.8rem;
    justify-content: flex-end;
    gap: 1.6rem;
  
    p {
      @include typography.text-font-static-s();
    }
  }
  
  &__tag_orange {
    background: var(--orang-label-light);
  
    p {
      color: var(--orange-label);
    }
  }
}
