<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>activity-page</title>
    <link rel="stylesheet" href="./assets/css/activity-page.css" />
    <link rel="stylesheet" href="./assets/fonts/Yekan/Yekan.css">
  </head>
  <body>
    <div class="activity-page-container">
      <section class="activity-page-section">
        <h3 class="activity-page-name">شنا</h3>
        <div class="activity-page-img-container">
          <img
            class="activity-page-img"
            src="./assets/images/Swedish_swimming.png"
            alt="Swedish swimming"
          />
          <div>
            <img
              class="next-svg"
              src="./assets/images/Next.svg"
              alt="next svg for slider"
            />
            <img
              class="Current-svg"
              src="./assets/images/Current.svg"
              alt="current svg for slider"
            />
            <img
              class="previous-svg"
              src="./assets/images/Previous.svg"
              alt="previous svg for slider"
            />
          </div>
        </div>
        <p class="activity-page-description">
          شنای سوئدی در واقع یکی از ساده‌ترین ورزش‌هایی است که با آن می‌توانید
          قدرت خود را افزایش دهید. شنای سوئدی در واقع یکی از ساده‌ترین ورزش‌هایی
          است که با آن می‌توانید قدرت خود را افزایش دهید.
        </p>
        <h2 class="activity-page-header-time">زمان فعالیت</h2>
        <div class="activity-page-calender-time">
          <div class="activity-page-calender">
            <p class="activity-page-p-calender">۲۲ مهر</p>
            <img
              class="activity-page-img-calender"
              src="./assets/images/calendar.svg"
              alt="celender svg"
            />
          </div>
          <div class="activity-page-time">
            <p class="activity-page-p-time">۸:۳۰ تا ۹:۴۵</p>
            <img
              class="activity-page-img-time"
              src="./assets/images/clock.svg"
              alt="clock svg"
            />
          </div>
        </div>
        <h2 class="activity-page-type">نوع فعالیت</h2>
        <div class="activity-page-container-tag">
          <p class="activity-page-tag">شنا</p>
        </div>
      </section>
    </div>
  </body>
</html>
