@forward "../../sass/base/main-style";
@use "../../sass/abstracts/mixins" as *;

:root {
    /* ========== Font and Typography ========== */
    --body-font: "Yekan Bakh", Tahoma, sans-serif, serif;

    --html-font-size: 62.5%;
    --title-font-size: 3.2rem;
    --big-font-size: 2.0rem;
    --extra-normal-font-size:1.8rem;
    --normal-font-size: 1.6rem;
    --small-lbl-font-size: 1.4rem;
    --very-small-font-size: 1rem;
    --extra-big-font-size:2.4rem;

    --title-line-hight: 4.8rem;
    --extra-big-line-hight:3.6rem;
    --big-line-hight: 3.2rem;
    --normal-line-hight: 2.8rem;
    --small-line-hight: 1.6rem;

    /* ========== Font weight ========== */
    --font-semi-bold: 600;
    --font-bold:700;
}

html {
    font-size: var(--html-font-size);
  }
// layout
.activity-page-container {
    @include parent-center-page-style;
  }

.activity-page{
    width: 38rem;
    border-radius: 2.0rem;
    background: var(--background-color-white);
    padding: 3.2rem 2.4rem 9.5rem 2.4rem;
    &__header-name{
        @include title-normal;
        margin-bottom: 2.4rem;
        text-align: center;
      }
    &__img-container {
        position: relative;
        max-width:33.2rem ;
        max-height: 18.9rem;
      }
    &__img{
        @include img-fill;
      }
    &__svg {
        position: absolute;
        bottom: 0.4rem;
        left: 50%;
      }
    &__description {
        margin-top: 1.6rem;
        margin-bottom: 2.4rem;
        font-size: var(--normal-font-size);
        line-height: var(--big-line-hight);
        color: var(--normal-gray);
      }
    &__time-activity {
      @include title-normal;
        text-align: right;
        margin-bottom: 1.2rem;
      }
    &__calender-time {
        display: inline-flex;
        margin-left: 2.4rem;
        justify-content: flex-start;
        align-items: center;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
      }
    &__calender {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 0.4rem;
        p{
            color: var(--normal-gray);
            text-align: right;
            font-size: var(--small-lbl-font-size);
            line-height: var(--normal-line-hight);
        }
      }
    &__time {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.4rem;
        p{
            color: var(--normal-gray);
            text-align: right;
            font-size: var(--small-lbl-font-size);
            line-height: var(--normal-line-hight);
          }
      }
    &__activity-type {
        @include title-normal;
        margin-bottom: 1.6rem;
        text-align: right;
      }
    &__tag {
        border-radius: 1.2rem;
        
        display: inline-flex;
        padding: 0.2rem 0.8rem;
        justify-content: flex-end;
        align-items: center;
        gap: 1.6rem;
        p {
            
            text-align: center;
            font-size: var(--small-lbl-font-size);
            font-weight: var(--font-semi-bold);
            line-height: var(--normal-line-hight);
          }
      }
    &__tag_orange{
      background: var(--orang-light);
      p{
        color: var(--orange-normal);
      }
    }
    
  }