<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="./home-empty.css" />
  </head>
  <body theme="light">
    <div class="full-container">
      <!-- ---============ Navigation ============--- -->
      <nav class="enhanced-navigation">
        <div class="icon-menu">
          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-home ic-home_active"></i>
            </a>

            <a href="">
              <i class="ic-flash"></i>
            </a>
          </div>

          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-note-2"></i>
            </a>

            <a class="icon-menu__profile-icon" href="">
              <i class="ic-frame-fill"></i>
            </a>
          </div>
        </div>

        <img
          class="icon-menu__add-icon"
          src="../../assets/images/add-circle.svg"
          alt=""
        />
      </nav>

      <!-- ---============ Main ============--- -->
      <main class="main-container">

        <!-- ---============ Mobile Calender ============--- -->
        <div class="mobile-calender">
          <ul class="mobile-calender__weekdays">
            <li class="mobile-calender__day">
              ش<span class="mobile-calender__weekdays-date">۲۰</span>
            </li>

            <li class="mobile-calender__day">
              ی<span class="mobile-calender__weekdays-date">۲۱</span>
            </li>

            <li class="mobile-calender__day mobile-calender__day_today">
              د<span class="mobile-calender__weekdays-date">۲۲</span>
            </li>

            <li class="mobile-calender__day">
              س<span class="mobile-calender__weekdays-date">۲۳</span>
            </li>

            <li class="mobile-calender__day">
              چ<span class="mobile-calender__weekdays-date">۲۴</span>
            </li>

            <li class="mobile-calender__day">
              <s class="mobile-calender__day_have-event">۲</s>
              پ<span class="mobile-calender__weekdays-date">۲۵</span>
            </li>

            <li class="mobile-calender__day">
              ج<span class="mobile-calender__weekdays-date">۲۶</span>
            </li>
          </ul>
        </div>

        <header class="header">
          <div class="title-container">
            <h4 class="title-container__title">گزارش ها</h4>
          </div>

          <div class="filters">
            <div class="filters__item">
              <p>روزانه</p>
            </div>

            <div class="filters__item filters__item_selected">
              <p>هفتگی</p>
            </div>

            <div class="filters__item">
              <p>ماهانه</p>
            </div>

            <div class="filters__item">
              <p>سالانه</p>
            </div>
          </div>
        </header>

        <div class="main-content">
          <!-- ---============ report ============--- -->
          <section class="report">
            <div class="report__container" >
              <div class="report__most-activity">
                  <div class="report__img-most-activity">
                      <img src="../../assets/images/Vector-gray.svg" alt="">
                      <p>1</p>
                  </div>
                  <div class="report__text-most-activity">
                      <h3>بدون فعالیت</h3> 
                  </div>
              </div>
              <div class="report__activity-chart">
                  <h3>بیشترین ها</h3>
                  <p>.اولین فعالیت خودت را بساز</p>
                  
              </div>
              <div  class="report__summary-activity">

                  <h3>خلاصه گزارش</h3>
                  
                  <p>اولین فعالیت خودت رو بساز.</p>
              </div>
            </div>
          </section>

          <div class="horizontal-line"></div>

          <header class="header">
            <div class="title-container  mobile-title-container">
              <h4 class="title-container__title">فعالیت ها</h4>
            </div>
            <div class="header__more">
              <p class="header__title-more">همه</p>
              <i class="ic-arrow-left-more ic-arrow-left-more_4xs"></i>
            </div>
          </header>

          <div class="img">
            <article class="activity-card img__create-activity">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 155.png"
                  alt=""
                />

                <header class="activity-card__header">
                  <h4 class="activity-card__title">دراز و نشست</h4>
                  <i class="ic-more ic-more_xs-static ic-more_gray"></i>
                </header>

                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>

              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue ic-clock_3xs"></i>
                  </div>

                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar ic-calendar_blue ic-calendar_3xs"></i>
                  </div>
                </div>

                <p class="lbl lbl_red">دراز و نشست</p>
              </footer>
            </article>

            <article class="activity-card img__create-activity">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 156.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">شنا سوئدی</h4>
                  <i class="ic-more ic-more_xs-static ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue ic-clock_3xs"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar ic-calendar_blue ic-calendar_3xs"></i>
                  </div>
                </div>
                <p class="lbl lbl_orange">شنا</p>
              </footer>
            </article>

            <article class="activity-card img__create-activity">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 157.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">دوچرخه سواری</h4>
                  <i class="ic-more ic-more_xs-static ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue ic-clock_3xs"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar ic-calendar_blue ic-calendar_3xs"></i>
                  </div>
                </div>
                <p class="lbl lbl_yellow">دوچرخه سواری</p>
              </footer>
            </article>

            <article class="activity-card img__create-activity">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 158.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">کششی</h4>
                  <i class="ic-more ic-more_xs-static ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue ic-clock_3xs"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar ic-calendar_blue ic-calendar_3xs"></i>
                  </div>
                </div>
                <p class="lbl lbl_blue">حرکات کششی</p>
              </footer>
            </article>
          </div>

          <header class="header">
            <div class="title-container  mobile-title-container">
              <h4 class="title-container__title">نوع فعالیت</h4>
            </div>
            <div class="header__more">
              <p class="header__title-more">همه</p>
              <i class="ic-arrow-left-more ic-arrow-left-more_4xs"></i>
            </div>
          </header>

          <div class="img">
            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">دراز و نشست</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">شنا سوئدی 💪</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>

            <article class="activity-type-card">
              <div class="activity-type-card__header">
                <h4 class="activity-type-card__title">دوچرخه سواری</h4>
                <i class="ic-more ic-more_gray ic-more_xs-static"></i>
              </div>
              <div class="activity-type-card__count">
                <i class="ic-note-2 ic-note-2_blue-lighter-static ic-note-2_4xs-static"></i>
                <p>۴ فعالیت</p>
              </div>
            </article>
          </div>
        </div>
      </main>

      <!-- ----============ Side Bar ============--- -->
      <aside class="l-side-bar">
        <!-- ----============ Mini Profile ============--- -->
        <div class="top-bar mini-profile">
          <div class="mini-profile__profile-section">
            <div>
              <p class="mini-profile__user-name">بهنام وهانی</p>
              <p class="mini-profile__user-last-event">بدون رویداد</p>
            </div>

            <div class="mini-profile__profile-img">
              <img src="../../assets/images/Avatar.svg" alt="" />
            </div>
          </div>

          <div class="mini-profile__notification">
            <img src="../../assets/images/notification.svg" alt="" />
          </div>
        </div>

        <!-- ----============ Calender ============--- -->
        <div class="calender">
          <div class="calender__month">
            <p>مهر ۱۴۰۱</p>
            <div class="calender__next-prev-month">
              <i class="ic-arrow-left ic-arrow-left_xs ic-arrow-left_gray"></i>
              <i
                class="ic-arrow-right ic-arrow-right_xs ic-arrow-right_gray"
              ></i>
            </div>
          </div>
          <div>
            <ul class="calender__weekdays">
              <li>ش</li>
              <li>ی</li>
              <li>د</li>
              <li>س</li>
              <li>چ</li>
              <li>پ</li>
              <li>ج</li>
            </ul>
          </div>
          <div>
            <ul class="calender__days">
              <li class="calender__day_inactive">۲۸</li>
              <li class="calender__day_inactive">۲۹</li>
              <li class="calender__day_inactive">۳۰</li>
              <li class="calender__day_inactive">۳۱</li>
              <li>۱</li>
              <li>۲</li>
              <li>۳</li>
              <li>۴</li>
              <li>۵</li>
              <li class="calender__day_today">۶</li>
              <li>۷</li>
              <li>۸</li>
              <li>۹</li>
              <li>۱۰</li>
              <li>۱۱</li>
              <li>۱۲</li>
              <li>۱۳</li>
              <li>۱۴</li>
              <li>۱۵<s class="calender__day_have-event">۲</s></li>
              <li>۱۶</li>
              <li>۱۷</li>
              <li>۱۸</li>
              <li>۱۹</li>
              <li>۲۰</li>
              <li>۲۱</li>
              <li>۲۲</li>
              <li>۲۳</li>
              <li>۲۴</li>
              <li>۲۵</li>
              <li>۲۶</li>
              <li>۲۷</li>
              <li>۲۸</li>
              <li>۲۹</li>
              <li>۳۰</li>
              <li class="calender__day_inactive">۱</li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
