<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <link rel="stylesheet" href="./activities.css" />
  </head>
  <body>
    <div class="full-container">
      <!-- ---============ Navigation ============--- -->
      <nav class="enhanced-navigation">
        <div class="icon-menu">
          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-home ic-home_active"></i>
            </a>

            <a href="">
              <i class="ic-flash ic-flash_gray"></i>
            </a>
          </div>

          <div class="icon-menu__icon-container">
            <a href="">
              <i class="ic-note-2 ic-note-2_gray"></i>
            </a>

            <a class="icon-menu__profile-icon" href="">
              <i class="ic-frame-fill ic-frame-fill_gray"></i>
            </a>
          </div>
        </div>

        <img
          class="icon-menu__add-icon"
          src="../../assets/images/add-circle.svg"
          alt=""
        />
      </nav>

      <!-- ---============ Main ============--- -->
      <main class="full-container__main-container">
        <!-- ---============ Main Header with Filters ============--- -->
        <header class="header">
          <div class="title-container header__title-container top-bar">
            <div>
              <h4 class="title-container__title">فعالیت ها</h4>
              <a class="title-container__back" href="">
                <i class="ic-arrow-right ic-arrow-right_dark-gray"></i>
              </a>
            </div>

            <!-- What is this doing? -->
            <a class="add-something" href="">
              <i class="ic-add ic-add_dark-gray"></i>
            </a>
          </div>

          <div class="filters">
            <div class="filters__item">
              <i class="ic-frame ic-frame_gray"></i>
              <p>افراد</p>
            </div>
            <div class="filters__item">
              <i class="ic-weight ic-weight_gray"></i>
              <p>نوع فعالیت</p>
            </div>
            <div class="filters__item">
              <i class="ic-filter ic-filter_gray"></i>
              <p>فیلتر ها</p>
            </div>
          </div>
        </header>

        <!-- ---============ Cards container ============--- -->
        <div class="main-content">
          <div class="cards-container">
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 155.png"
                  alt=""
                />

                <header class="activity-card__header">
                  <h4 class="activity-card__title">دراز و نشست</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>

                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>

                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>

                <p class="lbl lbl_red">دراز و نشست</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 156.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">شنا سوئدی</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_orange">شنا</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 157.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">دوچرخه سواری</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_yellow">دوچرخه سواری</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 158.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">کششی</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_blue">حرکات کششی</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 159.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">فیتنس</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_red">دراز و نشست</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 160.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">ژیمناستیک</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_orange">شنا</p>
              </footer>
            </article>

            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 161.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">تعادل</h4>
                  <i class="ic-more ic-more_gray"></i>
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <i class="ic-clock ic-clock_blue"></i>
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <i class="ic-calendar-fill ic-calendar-fill_blue"></i>
                  </div>
                </div>
                <p class="lbl lbl_yellow">دوچرخه سواری</p>
              </footer>
            </article>
          </div>
        </div>
      </main>

      <!-- ----============ Side Bar ============--- -->
      <aside class="l-side-bar">
        <!-- ----============ Mini Profile ============--- -->
        <div class="mini-profile">
          <div class="mini-profile__profile-section">
            <div>
              <p class="mini-profile__user-name">بهنام وهانی</p>
              <p class="mini-profile__user-last-event">بدون رویداد</p>
            </div>

            <div class="mini-profile__profile-img">
              <img src="../../assets/images/Avatar.svg" alt="" />
            </div>
          </div>

          <div class="mini-profile__notification">
            <img src="../../assets/images/notification.svg" alt="" />
          </div>
        </div>

        <!-- ----============ Calender ============--- -->
        <div class="calender">
          <div class="calender__month">
            <p>مهر ۱۴۰۱</p>
            <div class="calender__next-prev-month">
              <i class="ic-arrow-left ic-arrow-left_dark-gray"></i>
              <i class="ic-arrow-right ic-arrow-right_dark-gray"></i>
            </div>
          </div>
          <div>
            <ul class="calender__weekdays">
              <li>ش</li>
              <li>ی</li>
              <li>د</li>
              <li>س</li>
              <li>چ</li>
              <li>پ</li>
              <li>ج</li>
            </ul>
          </div>
          <div>
            <ul class="calender__days">
              <li class="calender__day_inactive">۲۸</li>
              <li class="calender__day_inactive">۲۹</li>
              <li class="calender__day_inactive">۳۰</li>
              <li class="calender__day_inactive">۳۱</li>
              <li>۱</li>
              <li>۲</li>
              <li>۳</li>
              <li>۴</li>
              <li>۵</li>
              <li class="calender__day_today">۶</li>
              <li>۷</li>
              <li>۸</li>
              <li>۹</li>
              <li>۱۰</li>
              <li>۱۱</li>
              <li>۱۲</li>
              <li>۱۳</li>
              <li>۱۴</li>
              <li>۱۵<small class="calender__day_have-event">۲</small></li>
              <li>۱۶</li>
              <li>۱۷</li>
              <li>۱۸</li>
              <li>۱۹</li>
              <li>۲۰</li>
              <li>۲۱</li>
              <li>۲۲</li>
              <li>۲۳</li>
              <li>۲۴</li>
              <li>۲۵</li>
              <li>۲۶</li>
              <li>۲۷</li>
              <li>۲۸</li>
              <li>۲۹</li>
              <li>۳۰</li>
              <li class="calender__day_inactive">۱</li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
