<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css" />
    <link rel="stylesheet" href="./activities.css" />
  </head>
  <body theme="light">
    <div class="full-container">
      <!-- ---============ Navigation ============--- -->
      <nav class="nav-container">
        <div class="nav-bar">
          <div class="nav-bar__icon-container">
            <a href=""><i class="ic-home"></i></a>
            <a href=""><i class="ic-flash"></i></a>
          </div>

          <div class="nav-bar__icon-container">
            <a href=""><i class="ic-note-2 ic-note-2_blue"></i></a>
            <a class="nav-bar__profile" href=""><i class="ic-frame-fill"></i></a>
          </div>
        </div>
        <img
          class="nav-bar__add"
          src="../../assets/images/add-circle.svg"
          alt=""
        />
      </nav>

      <!-- ---============ Main ============--- -->
      <main class="main-container">
        <header class="section-header">
          <div class="title-container">
            <h4 class="title-container__title">فعالیت ها</h4>
            <a class="title-container__back" href="">
              <img src="../../assets/images/arrow-right.svg" alt="" />
            </a>
          </div>
          
          <div class="filters">
            <div class="filters__item">
              <p>افراد</p>
              <i class="ic-frame ic-frame_vs ic-frame_gray"></i>
            </div>
            <div class="filters__item">
              <p>نوع فعالیت</p>
              <i class="ic-weight ic-weight_vs ic-weight_gray"></i>
            </div>
            <div class="filters__item">
              <p>فیلتر ها</p>
              <i class="ic-filter ic-filter_vs ic-filter_gray"></i>
            </div>
            <div class="filters__add"><a href=""><i class="ic-add ic-add_s ic-add_gray"></i></a></div>
          </div>
          
        </header>

        <div class="main-content">
          <section class="cards-container">
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 155.svg"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">دراز و نشست</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_red">دراز و نشست</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 156.svg"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">شنا سوئدی</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_orange">شنا</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 157.svg"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">دوچرخه سواری</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_yellow">دوچرخه سواری</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 158.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">کششی</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_blue">حرکات کششی</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 159.png"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">فیتنس</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_red">دراز و نشست</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 160.svg"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">ژیمناستیک</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_orange">شنا</p>
              </footer>
            </article>
            <article class="activity-card">
              <main class="activity-card__main">
                <img
                  class="activity-card__img"
                  src="../../assets/images/Rectangle 161.svg"
                  alt=""
                />
                <header class="activity-card__header">
                  <h4 class="activity-card__title">تعادل</h4>
                  <img src="../../assets/images/more.svg" alt="" />
                </header>
                <p class="activity-card__description">
                  متن و توضیح فعالیت متن و توضیح فعالیت متن و توضیح فعالیت متن و
                  توضیح فعالیت.
                </p>
              </main>
              <footer class="activity-card__footer">
                <div class="activity-card__date-time">
                  <div class="activity-card__time">
                    <p>۸:۳۰ تا ۹:۴۵</p>
                    <img src="../../assets/images/clock.svg" alt="" />
                  </div>
                  <div class="activity-card__date">
                    <p>۲۲ مهر</p>
                    <img src="../../assets/images/calendar.svg" alt="" />
                  </div>
                </div>
                <p class="lbl lbl_yellow">دوچرخه سواری</p>
              </footer>
            </article>
          </section>
        </div>
      </main>

      <!-- ----============ Side Bar ============--- -->
      <aside class="l-side-bar">
        <div class="quick-user-profile">
          <div class="quick-user-profile__profile">
            <div>
              <p class="quick-user-profile__name">بهنام وهانی</p>
              <p class="quick-user-profile__event">بدون رویداد</p>
            </div>
            <img class="quick-user-profile__img" src="../../assets/images/Avatar.svg" alt="">
          </div>
          <div class="quick-user-profile__notif">
            <img src="../../assets/images/Notification.svg" alt="">
          </div>
        </div>
        <div class="calender">
          <div class="calender__month">
            <p>مهر ۱۴۰۱</p>
            <div class="calender__next-prev-month">
              <img src="../../assets/images/arrow-left.png" alt="">
              <img src="../../assets/images/arrow-right.svg" alt="">
            </div>
          </div>
          <div>
            <ul class="calender__weekdays">
              <li>ش</li>
              <li>ی</li>
              <li>د</li>
              <li>س</li>
              <li>چ</li>
              <li>پ</li>
              <li>ج</li>
            </ul>
          </div>
          <div>
            <ul class="calender__days">
              <li class="calender__day_inactive">۲۸</li>
              <li class="calender__day_inactive">۲۹</li>
              <li class="calender__day_inactive">۳۰</li>
              <li class="calender__day_inactive">۳۱</li>
              <li>۱</li>
              <li>۲</li>
              <li>۳</li>
              <li>۴</li>
              <li>۵</li>
              <li class="calender__day_today">۶</li>
              <li>۷</li>
              <li>۸</li>
              <li>۹</li>
              <li>۱۰</li>
              <li>۱۱</li>
              <li>۱۲</li>
              <li>۱۳</li>
              <li>۱۴</li>
              <li>۱۵<s class="calender__day_have-event">۲</s></li>
              <li>۱۶</li>
              <li>۱۷</li>
              <li>۱۸</li>
              <li>۱۹</li>
              <li>۲۰</li>
              <li>۲۱</li>
              <li>۲۲</li>
              <li>۲۳</li>
              <li>۲۴</li>
              <li>۲۵</li>
              <li>۲۶</li>
              <li>۲۷</li>
              <li>۲۸</li>
              <li>۲۹</li>
              <li>۳۰</li>
              <li class="calender__day_inactive">۱</li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
