@use "../../sass/base";
@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/breakpoint-manager";
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/themes/theme";
@use "../../sass/layout/top-bar";
@use "../../sass/layout/left-side-bar";
@use "../../sass/layout/header";
@use "../../sass/components/nav-bar";
@use "../../sass/components/icons";
@use "../../sass/components/mini-profile";
@use "../../sass/components/calender";
@use "../../sass/components/filters";
@use "../../sass/components/activity-card";
@use "../../sass/components/label";
@use "../../sass/components/box-or-img-slider";

@include icons.generate-icon("home", 3.2rem, 2.8rem);
@include icons.generate-icon-modifier("home_active", var(--theme-primary-600));
@include icons.generate-icon("flash", 3.2rem, 2.8rem);
@include icons.generate-icon-modifier(
  "flash_gray",
  var(--theme-text-primary-200)
);
@include icons.generate-icon("note-2", 3.2rem, 2.8rem);
@include icons.generate-icon-modifier(
  "note-2_gray",
  var(--theme-text-primary-200)
);
@include icons.generate-icon("frame-fill", 3.2rem, 2.8rem);
@include icons.generate-icon-modifier(
  "frame-fill_gray",
  var(--theme-text-primary-200)
);
@include icons.generate-icon("arrow-right", 2.4rem);
@include icons.generate-icon-modifier(
  "arrow-right_dark-gray",
  var(--theme-text-primary-dark-900)
);
@include icons.generate-icon("arrow-left", 2.4rem);
@include icons.generate-icon-modifier(
  "arrow-left_dark-gray",
  var(--theme-text-primary-dark-900)
);
@include icons.generate-icon("add", 2.4rem);
@include icons.generate-icon-modifier(
  "add_dark-gray",
  var(--theme-text-primary-dark-900)
);
@include icons.generate-icon("frame", 1.6rem);
@include icons.generate-icon-modifier(
  "frame_gray",
  var(--theme-text-primary-900)
);
@include icons.generate-icon("filter", 1.6rem);
@include icons.generate-icon-modifier(
  "filter_gray",
  var(--theme-text-primary-900)
);
@include icons.generate-icon("weight", 1.6rem);
@include icons.generate-icon-modifier(
  "weight_gray",
  var(--theme-text-primary-900)
);
@include icons.generate-icon("more", 2.4rem);
@include icons.generate-icon-modifier(
  "more_gray",
  var(--theme-text-primary-900)
);
@include icons.generate-icon("clock", 2rem);
@include icons.generate-icon-modifier("clock_blue", var(--theme-primary-500));
@include icons.generate-icon("calendar-fill", 2rem);
@include icons.generate-icon-modifier(
  "calendar-fill_blue",
  var(--theme-primary-500)
);

html {
  font-size: #{$html-font-size};
}

body {
  overflow: hidden;
  font-family: #{$normal-font-family};
}

/* ========== Layout ========== */
.full-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-surface);

  @include breakpoint-manager.respond-to("medium") {
    flex-direction: column-reverse;
    background-color: var(--theme-background);
    padding-top: 5.4rem;

    .title-container {
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      top: 0;
      right: 0;
    }

    .mini-profile {
      display: none;
    }

    .header {
      margin-top: 4rem;
    }
  }
}

.main-container {
  width: 100%;
  padding: 8rem 0 2rem;
  background-color: var(--theme-background);
  border-radius: 40px 40px 0 0;
  margin-top: 0.8rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include breakpoint-manager.respond-to("medium") {
    padding: 0;
    height: 100%;
    align-items: center;
    margin: 0;
    border-radius: 0;
    gap: 0;
  }
}

.main-content {
  width: 100%;
  padding: 0 6.9%;

  @include breakpoint-manager.respond-to("medium") {
    margin-bottom: 9.2rem;
  }
}

.cards-container {
  direction: rtl;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem 2rem;
  width: 100%;
  padding-bottom: 2.8rem;

  @include breakpoint-manager.respond-to("medium") {
    padding: 2rem 0 15rem;
    justify-content: center;
  }
}

.add-something {
  display: none;

  @include breakpoint-manager.respond-to("medium") {
    display: inline-block;
    height: 2.4rem;
  }
}
