.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 8rem;
  width: 8rem;
  padding: 8.6rem 1.2rem 17rem;
}
@media screen and (max-width: 960px) {
  .nav-container {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    height: 6.4rem;
    width: 100%;
    padding: 1.8rem 3.2rem;
    background-image: linear-gradient(to right, var(--gradient-one-color), var(--gradient-one-color) 35%, var(--gradient-zero-color) 36%, var(--gradient-zero-color) 65%, var(--gradient-one-color) 66%, var(--gradient-one-color) 100%), url("../../assets/images/BG.svg");
    background-color: rgba(0, 0, 0, 0);
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 2.4rem 2.4rem 0 0;
    filter: drop-shadow(0px -2px 24px rgba(0, 0, 0, 0.08));
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.nav-bar__icon-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.nav-bar__profile {
  display: none;
}
@media screen and (max-width: 960px) {
  .nav-bar {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  .nav-bar__icon-container {
    flex-direction: row-reverse;
    width: 30%;
    gap: 0;
    justify-content: space-between;
  }
  .nav-bar__profile {
    display: inline-block;
  }
  .nav-bar__add {
    position: absolute;
    right: calc(50% - 2.8rem);
    left: calc(50% - 2.8rem);
    bottom: 3.6rem;
    background-image: url("../../assets/images/vector.png");
  }
}

.section-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.2rem;
  padding: 0 5%;
}
@media screen and (max-width: 960px) {
  .section-header {
    max-height: 6.4rem;
    width: 100%;
    background-color: var(--frame-color);
    padding: 2rem;
    filter: drop-shadow(-1px 1px 4px rgba(0, 0, 0, 0.11));
  }
}

.title-container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 0.8rem;
}
.title-container__back {
  display: flex;
}
.title-container__title {
  color: var(--header-color);
  line-height: var(--extra-big-line-hight);
  font-weight: var(--font-semi-bold);
  font-size: var(--big-font-size);
}
@media screen and (max-width: 960px) {
  .title-container {
    gap: 1.2rem;
  }
}

.filters {
  display: flex;
  gap: 0.8rem;
}
.filters__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0 0.8rem 0 1.2rem;
  background-color: var(--frame-color);
  border-radius: 12px;
}
@media screen and (max-width: 960px) {
  .filters__item {
    display: none;
  }
}
.filters__add {
  display: none;
  height: 2.4rem;
}
@media screen and (max-width: 960px) {
  .filters__add {
    display: inline-block;
  }
}

.activity-card {
  display: flex;
  flex-direction: column;
  width: 28rem;
  background-color: var(--frame-color);
  border-radius: 2.4rem;
  padding: 1.6rem;
  direction: rtl;
  gap: 2.4rem;
}
.activity-card__header {
  display: flex;
  justify-content: space-between;
}
.activity-card__title {
  font-size: var(--extra-normal-font-size);
  line-height: 3.2rem;
  font-weight: bold;
}
.activity-card__description {
  font-size: var(--small-lbl-font-size);
  color: var(--description-color);
  height: 8.4rem;
}
.activity-card__main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.activity-card__footer {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 1.6rem;
  border-top: 0.1rem solid var(--separator-line-color);
}
.activity-card__date-time {
  display: flex;
  gap: 1.6rem;
  font-size: var(--small-lbl-font-size);
  color: var(--date-time-color);
}
.activity-card__date, .activity-card__time {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.4rem;
}
@media screen and (max-width: 960px) {
  .activity-card {
    width: 31.2rem;
  }
  .activity-card__footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.lbl {
  font-size: var(--small-lbl-font-size);
  font-weight: var(--font-semi-bold);
  border-radius: 1.6rem;
  padding: 0.2rem 0.8rem;
  align-self: flex-start;
}
.lbl_red {
  background-color: #FFF2F2;
  color: #E35053;
}
.lbl_orange {
  background-color: #FEE6CF;
  color: #E86E00;
}
.lbl_yellow {
  background-color: #FFF3DB;
  color: #FFA400;
}
.lbl_blue {
  background-color: #EFF9FF;
  color: #58C2FE;
}

.cards-container {
  direction: rtl;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.4rem 3rem;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .cards-container {
    padding: 2rem 0 9.2rem;
    justify-content: center;
  }
}

.quick-user-profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.quick-user-profile__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.2rem;
  direction: rtl;
  cursor: pointer;
}
.quick-user-profile__img {
  border-radius: 50%;
}
.quick-user-profile__name {
  font-weight: var(--font-semi-bold);
  color: var(--header-color);
}
.quick-user-profile__event {
  font-size: var(--small-lbl-font-size);
  color: var(--header-color);
}
.quick-user-profile__notif {
  cursor: pointer;
}

.calender {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 24px;
}
.calender__month {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: var(--extra-normal-font-size);
  font-weight: bold;
  line-height: var(--big-line-hight);
  color: var(--header-color);
  align-items: center;
}
.calender__next-prev-month {
  display: flex;
  gap: 1.6rem;
}
.calender__weekdays {
  display: flex;
  flex-direction: row-reverse;
  gap: 4.3rem;
  font-size: var(--small-lbl-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--inactive-calender-day);
}
.calender__days {
  display: grid;
  grid-template-columns: repeat(7, 3.2rem);
  gap: 0.8rem 2.067rem;
  direction: rtl;
  line-height: var(--big-line-hight);
  text-align: center;
}
.calender__days li {
  position: relative;
  cursor: pointer;
}
.calender__day_today {
  background-color: var(--primary-btn-color);
  color: var(--frame-color);
  border-radius: 12px;
}
.calender__day_inactive {
  color: var(--inactive-days);
}
.calender__day_have-event {
  position: absolute;
  right: -1rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--primary-btn-color);
  border-radius: 50%;
  color: var(--frame-color);
  text-align: center;
  font-size: var(--very-small-font-size);
  line-height: var(--small-line-hight);
}

.ic-frame {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/frame.svg");
  mask: url("../../assets/images/frame.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-frame_blue {
  background-color: var(--icon-color-active);
}
.ic-frame_vs {
  width: var(--icon-very-small-width);
  height: var(--icon-very-small-height);
}
.ic-frame_gray {
  background-color: var(--icon-gray-color);
}

.ic-frame-fill {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/frame-fill.svg");
  mask: url("../../assets/images/frame-fill.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-frame-fill_blue {
  background-color: var(--icon-color-active);
}

.ic-home {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/home.svg");
  mask: url("../../assets/images/home.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-home_blue {
  background-color: var(--icon-color-active);
}

.ic-flash {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/flash.svg");
  mask: url("../../assets/images/flash.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-flash_blue {
  background-color: var(--icon-color-active);
}

.ic-note-2 {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/note-2.svg");
  mask: url("../../assets/images/note-2.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-note-2_blue {
  background-color: var(--icon-color-active);
}

.ic-weight {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/weight.svg");
  mask: url("../../assets/images/weight.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-weight_vs {
  width: var(--icon-very-small-width);
  height: var(--icon-very-small-height);
}
.ic-weight_gray {
  background-color: var(--icon-gray-color);
}

.ic-filter {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/filter.svg");
  mask: url("../../assets/images/filter.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-filter_vs {
  width: var(--icon-very-small-width);
  height: var(--icon-very-small-height);
}
.ic-filter_gray {
  background-color: var(--icon-gray-color);
}

.ic-add {
  width: var(--icon-normal-width);
  height: var(--icon-normal-height);
  display: inline-block;
  -webkit-mask: url("../../assets/images/add.svg");
  mask: url("../../assets/images/add.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--icon-color);
}
.ic-add_s {
  width: var(--icon-small-width);
  height: var(--icon-small-height);
}
.ic-add_gray {
  background-color: var(--icon-gray-color);
}

:root {
  /* ========== Colors ========== */
  --gradient-one-color: rgba(255, 255, 255, 1);
  --gradient-zero-color: rgba(255, 255, 255, 0);
  /* ========== Font and Typography ========== */
  --body-font: "Yekan Bakh", Tahoma, sans-serif, serif;
  --html-font-size: 62.5%;
  --title-font-size: 3.2rem;
  --big-font-size: 2.0rem;
  --extra-normal-font-size:1.8rem;
  --normal-font-size: 1.6rem;
  --small-lbl-font-size: 1.4rem;
  --very-small-font-size: 1rem;
  --title-line-hight: 4.8rem;
  --extra-big-line-hight:3.6rem;
  --big-line-hight: 3.2rem;
  --normal-line-hight: 2.8rem;
  --small-line-hight: 1.6rem;
  --icon-normal-width: 3.2rem;
  --icon-normal-height: 3.2rem;
  --icon-small-width: 2.4rem;
  --icon-small-height: 2.4rem;
  --icon-very-small-width: 1.6rem;
  --icon-very-small-height: 1.6rem;
  /* ========== Font weight ========== */
  --font-semi-bold: 600;
}

body[theme=light] {
  --primary-btn-color: #2471EB;
  --primary-btn-hover-color: #1261df;
  --primary-btn-text-color: #F4F7FC;
  --main-color: #FAFAFA;
  --frame-color: #FFFFFF;
  --text-color: #5A5A5A;
  --title-color: #464646;
  --link-color: #464646;
  --border-color: #BEC1CA;
  --header-color: #2E2F32;
  --description-color: #6B6B6B;
  --date-time-color: #5B5E69;
  --separator-line-color: #F6F8FF;
  --inactive-calender-day: #868A95;
  --inactive-days: #A2A5B0;
  --icon-color: #dadce5;
  --icon-gray-color: #2E2F32;
  --icon-color-active: #2471EB;
}

/* ========== Base ========== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: var(--html-font-size);
}

body {
  overflow-y: hidden;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--normal-line-hight);
}

/* ========== Layout ========== */
.full-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 960px) {
  .full-container {
    flex-direction: column-reverse;
    background-color: var(--main-color);
  }
}

.main-container {
  width: 100%;
  padding: 8rem 0 2.8rem;
  background-color: var(--main-color);
  border-radius: 40px 40px 0 0;
  margin-top: 0.8rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media screen and (max-width: 960px) {
  .main-container {
    padding: 0;
    height: 100%;
    align-items: center;
    margin: 0;
    border-radius: 0;
    gap: 0;
  }
}

.l-side-bar {
  min-width: 468px;
  padding: 3.6rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
@media screen and (max-width: 960px) {
  .l-side-bar {
    display: none;
  }
}

.main-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 5%;
}/*# sourceMappingURL=activities.css.map */