$color-palette:(
    light: (
        sidebar-profile-name:#000,
        background-color-white: #fafafa,
        header-h3 : #2e2f32,
        /* --gray-700:#5b5e69; */
        warning-200: #fee6cf,
        border-gray: #BEC1CA,
        input-color: #464646,
        label-color: #5a5a5a,
        button-blue: #2471eb,
        button-white: #f4f7fc,
        pink-button:rgb(224, 158, 169),
        background-box-img: #FFFFFF,
        gray-500:#868A95,
        background-blue-light:#CEE0FC,
        border-blue: #5F9DFE,
        border-box:rgba(0, 67, 101, 0.05),
        normal-gray: #5B5E69,
        background-subscribtion:#DADCE5,

    )
);
:root {
    @each $theme, $palette in $color-palette {
        &[theme=#{$theme}] { //[theme=light]
            @each $color, $value in $palette{
                --#{$color}:#{$value};
            }
        }
    }

}