@use "../abstracts/breakpoint-manager";
@use "../abstracts/variables" as *;

@mixin title-font-l-m() {
  // 1.8rem 3.2rem bold #2E2F32
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: bold;
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    // 1.6rem 2.8rem semi-bold
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: #{$font-semi-bold};
  }
}
@mixin title-xl-xl() {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: #{$font-bold};
}

@mixin title-font-l() {
  // 1.8rem 3.2rem bold #2E2F32
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: bold;
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    //
    font-size: var(--font-size-s);
    line-height: var(--line-height-sm);
    font-weight: #{$font-semi-bold};
  }
}

@mixin title-font-l-m-bold() {
  // 1.8rem 3.2rem bold #2E2F32
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: bold;
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    // 1.6rem 2.8rem
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

@mixin title-font-static-m() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: #{$font-semi-bold};
  color: var(--text-gray-color);
}
@mixin title-font-input-field() {
  font-size: var(--font-size-m);
  font-weight: #{$font-semi-bold};
  line-height: var(--line-height-m);
  color: var(--link-color);
}
@mixin title-font-lbl() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--text-color);
  font-weight: #{$font-semi-bold};
}
@mixin title-font-lbl-focus() {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xxs);
  color: var(--text-color);
  font-weight: normal;
}
@mixin text-font-ssm() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-sm);
  color: var(--text-gray-color);
  font-weight: #{$font-semi-bold};
}
@mixin text-font-sm-light() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-light-side-bar);
}

@mixin text-font-ml() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    font-weight: #{$font-semi-bold};
    line-height: var(--line-height-m);
  }
}

@mixin text-font-static-s() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-color);
}

@mixin text-font-s-m() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
    font-weight: #{$font-semi-bold};
  }
}

@mixin text-font-s-m-regular() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}

@mixin text-font-static-xxs() {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}
@mixin text-font-ml-sm() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--date-time-color);

  @include breakpoint-manager.respond-to("medium") {
    font-weight: #{$font-semi-bold};
    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
  }
}
@mixin text-font-ml-xs() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--date-time-color);

  @include breakpoint-manager.respond-to("medium") {
    color: var(--text-gray-color);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}
@mixin text-font-ml-xss() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--date-time-color);

  @include breakpoint-manager.respond-to("medium") {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}
@mixin text-font-static-sm-xss() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-color);
  @include breakpoint-manager.respond-to("medium") {
    color: var(--text-gray-color);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}
@mixin title-font-l-l-modal() {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: var(--line-height-l);
  color: var(--text-gray-color);
}
