@use "../abstracts/breakpoint-manager";
@use "../abstracts/variables" as *;

@mixin title-font-l() {
  font-size: var(--font-size-l);
  font-weight: bold;
  line-height: var(--line-height-l);
  color: var(--text-gray-color);
}

@mixin title-font-static-m() {
  font-size: var(--font-size-m);
  font-weight: #{$font-semi-bold};
  line-height: var(--line-height-m);
  color: var(--text-gray-color);
}

@mixin text-font-ml() {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--text-gray-color);

  @include breakpoint-manager.respond-to("medium") {
    font-weight: #{$font-semi-bold};
    line-height: --line-height-m;
  }
}

@mixin text-font-static-s() {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--text-gray-color);
}

@mixin text-font-static-xxs() {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}
