@forward '../../sass/base/main-style';
@forward '../../sass/components/button';
@forward '../../sass/components/form';

  .main-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  .create-container {
    background: var(--background-color-white);
    
    border-radius: 20px;
    max-width: 380px;
    padding: 32px 24px 40px 0px;
    width: 100%;
    
    overflow: hidden;

    &__heading {
        margin-bottom: 32px;
        text-align: center;
        color: var(--header-h3);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        
       
      }
      &__img{
        margin-right: 10px;
    }
      &__form-container{
        margin-left: 24px;
        margin-top: 24px;
        margin-bottom: 40px;
      }  
   }

  .img{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    gap: 12px;
    height: auto;
    &::-webkit-scrollbar { 
        display: none;  
    }
    &__create-activity{
        display: flex;
    justify-content: center;
    align-items: center;
        scroll-snap-align: start;
    
    min-width: 96px;
    max-width: 96px;
    min-height: 96px;
    
    border-radius: 24px;
    background: var(background-box-img);
    box-shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05);

    }

  }
  .form-container{
    display: flex;
    flex-direction: column;
    gap:16px
    
  }
  .time{
    display: flex;
    gap: 8px;
  }

 

