//new
@use "../../sass/base/reset";
@use "../../sass/base/font-face";
@use "../../sass/themes/theme";
@use "../../sass/abstracts/variables" as *;
@forward "../../sass/base/main-style";
@forward "../../sass/components/button";
@forward "../../sass/components/form";
@use "../../sass/abstracts/mixins" as *;
@use "../../sass/base/typography";
@use "../../sass/components/box-or-img-slider";

:root {
  /* ========== Font and Typography ========== */
  --body-font: "Yekan Bakh", Tahoma, sans-serif, serif;

  --html-font-size: 62.5%;
  --title-font-size: 3.2rem;
  --big-font-size: 2rem;
  --extra-normal-font-size: 1.8rem;
  --normal-font-size: 1.6rem;
  --small-lbl-font-size: 1.4rem;
  --very-small-font-size: 1rem;
  --extra-big-font-size: 2.4rem;

  --title-line-hight: 4.8rem;
  --extra-big-line-hight: 3.6rem;
  --big-line-hight: 3.2rem;
  --normal-line-hight: 2.8rem;
  --small-line-hight: 1.6rem;

  /* ========== Font weight ========== */
  --font-semi-bold: 600;
  --font-bold: 700;
}
html {
  font-size: #{$html-font-size};
}
.main-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.create-activity {
  background: var(--background-color-white);

  border-radius: 2rem;
  max-width: 38rem;
  padding: 3.2rem 2.4rem 4rem 0;
  width: 100%;

  overflow: hidden;

  &__heading {
    margin-bottom: 3.2rem;
    text-align: center;
    @include typography.title-font-l-l-modal();
  }
  &__img {
    margin-right: 1rem;
  }
  &__form-container {
    margin-left: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
  }
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.time {
  display: flex;
  gap: 8px;
}
.textArea {
  display: flex;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid var(--border-gray);
  flex-direction: row-reverse;
  flex: 1 0 0;
  gap: 0.8rem;
  min-height: 96px;
  justify-content: center;
  padding: 8px;
  &__box {
    position: relative;
    width: 100%;
  }
  &__input-field {
    resize: none;
    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      cursor: pointer;
    }
    background-color: transparent;
    border: none;
    color: var(--input-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    text-align: right;
    transition-duration: 0.5s;
    transition-property: transform;
    width: 100%;
  }
  &__label {
    color: var(--label-color);
    cursor: text;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    transition-duration: 0.5s;
    transition-property: transform;
  }
  &__input-field:focus ~ label {
    color: var(--label-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    transform: translateY(-4px);
  }
  &__input-field:focus {
    transform: translateY(+14px);
  }
  &__img-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    padding: 4px 0px;
    img {
      align-items: center;
      display: flex;
      height: 24px;
      justify-content: center;
      width: 24px;
    }
  }
}
