<!DOCTYPE html>
<html lang="en" theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create-activity</title>
    <link rel="stylesheet" href="../../components/create-activity/create-activity.css" />
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css">
</head>
<body>
    <main class="main-container">
        <div class="create-container">
            <h3 class="create-container__heading">ایجاد فعالیت</h3>
            <section class="create-container__img img ">
                <a class="img__create-activity">
                    <img src="../../assets/images/add.svg" alt="">
                    <!-- <img src="../../assets/images/create-activity-img1.png" alt=""> -->
                </a>
                <a class="img__create-activity">
                    <img src="../../assets/images/create-activity-img1.png" alt="">
                </a>
                <a class="img__create-activity">
                    <img src="../../assets/images/create-activity-img1.png" alt="">
                </a>
                <a class="img__create-activity">
                    <img src="../../assets/images/create-activity-img1.png" alt="">
                </a>
                <a class="img__create-activity">
                    <img src="../../assets/images/create-activity-img1.png" alt="">
                </a>
            </section>

        </div>
    </main>
</body>
</html>