<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-subscription</title>
    <link rel="stylesheet" href="./edit-subscribtion.css" />
  </head>
  <body >
    <section class="frame-modal">
      <div class="container">
        <h3 class="container__heading">نوع اشتراک خود را انتخاب کنید.</h3>

        <section class="container__subscription">
          <a class="container__subscription-type">
            <p>عادی</p>

            <img src="../../assets/images/frame-subscribtion.svg" alt="" />
          </a>

          <a class="container__subscription-type">
            <p>ویژه</p>

            <img src="../../assets/images/crown.svg" alt="" />
          </a>
        </section>
        <div class="form__button-container">
          <input class="button button_secondary" type="button" value="لغو" />

          <input class="button button_primary" type="submit" value="تایید" />
        </div>
      </div>
    </section>
  </body>
</html>
