<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-name</title>
    <link rel="stylesheet" href="./edit-name.css" />
  </head>
  <body theme="light">
    <section class="frame-modal">
      <div class="container">
        <h3 class="container__heading">نام خود را وارد کنید.</h3>
        <!-- edit name form -->
        <form class="form" action="">
          <div class="form__box">
            <input
              class="form__input-field"
              type="text"
              name="name-member"
              id="name-member"
            />
            <label class="form__label" for="name-member">نام</label>
          </div>
         
          <div class="form__img-wrapper">
            <img src="../../assets/images/user.svg" alt="" />
          </div>
        </form>
        <!-- button -->
        <div class="container__button ">
          <button class="button button_secondary">لغو</button>
          <button class="button button_primary">ایجاد</button>
        </div>
      </div>
    </section>
  </body>
</html>
