<!DOCTYPE html>
<html lang="fa" dir="rtl" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-name</title>
    <link rel="stylesheet" href="./edit-name.css" />
  </head>
  <body >
    <section class="frame-modal">
      <div class="container">
        <h3 class="container__heading">نام خود را وارد کنید.</h3>
        
        <!-- edit name form -->
        <form class="form" action="">
          <div class="input">
            <div class="input__box">
              <input
                class="input__field"
                type="text"
                name="name-member"
                id="name-member"
              />

              <label class="input__label" for="name-member">نام</label>
            </div>

            <img src="../../assets/images/user.svg" alt="" />
          </div>
          <!-- button -->
          <div class="form__button-container">
            <input class="button button_secondary" type="button" value="لغو"  />

            <input class="button button_primary" type="submit" value="تایید" />
          </div>
        </form>
       

      </div>
    </section>
  </body>
</html>
