body[theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #fafafa;
  --main-color: #fafafa;
  --frame-color: #ffffff;
  --text-color: #5a5a5a;
  --title-color: #464646;
  --link-color: #464646;
  --border-color: #bec1ca;
  --header-color: #2e2f32;
  --description-color: #6b6b6b;
  --separator-line-color: #f6f8ff;
  --sidebar-profile-name:#000;
  --background-subscribtion: #dadce5;

  // Calender
  --weekdays-calender-color: #868a95;
  --inactive-calender-days-color: #a2a5b0;
  --date-time-color: #5b5e69;
  
  // Card
  --card-hover-color: #f2f4fa;
  --background-blue-light: #cee0fc;
  --border-blue: #5f9dfe;
  --selected-text-color: #0451cd;

  // Layout

  // Label
  --red-light-label: #fff2f2;
  --red-normal-label: #e35053;
  --orang-light-label: #fee6cf;
  --orange-normal-label: #e86e00;
  --yellow-light-label: #fff3db;
  --yellow-normal-label: #ffa400;
  --blue-light-label: #eff9ff;
  --blue-normal-label: #58c2fe;
  --orange-label:#E86E00;
  --orang-label-light:#FEE6CF;

  // Border
  --border-box: rgba(0, 67, 101, 0.05);

  // Text
  --text-gray-color: #2e2f32;
  --text-gray-light-side-bar:#868A95;

  // Icon
  --icon-color: #dadce5;
  --icon-gray-color: #2e2f32;
  --icon-blue-color: #2471eb;
  --icon-blue-light-color: #5f9dfe;
  --icon-blue-lighter-color: #a9cafd;

  // Button
  --primary-btn-color: #2471eb;
  --primary-btn-hover-color: #1261df;
  --primary-btn-text-color: #f4f7fc;
  --pink-button: rgb(224, 158, 169);
  --button-blue: #2471eb;
  --button-white: #f4f7fc;
}

body[theme="dark"] {
  --primary-color: #1a1a1a;
  --secondary-color: #1e1e1e;
  --main-color: #1e1e1e;
  --frame-color: #1a1a1a;
  --text-color: #a5a5a5;
  --title-color: #b2b2b2;
  --link-color: #b2b2b2;
  --border-color: #52555f;
  --header-color: #0a0a0a;
  --description-color: #b2abab;
  --separator-line-color: #d9dbf2;
  --background-subscribtion: #33353e;

  // Calendar
  --weekdays-calender-color: #4b4d57;
  --inactive-calender-days-color: #575960;
  --date-time-color: #b4b5bb;

  // Card
  --card-hover-color: #1f1f1f;
  --background-blue-light: #325a9b;
  --border-blue: #1a4a9b;
  --selected-text-color: #7a91b6;

  // Layout

  // Label
  --red-light-label: #3a1313;
  --red-normal-label: #a93a3a;
  --orang-light-label: #4e3623;
  --orange-normal-label: #8e4200;
  --yellow-light-label: #3a3313;
  --yellow-normal-label: #a97f00;
  --blue-light-label: #122b3a;
  --blue-normal-label: #1e6c8e;

  // Border
  --border-box: rgba(0, 67, 101, 0.05);
  
  // Text
  --text-gray-color: #d2c4c4;

  // Icon
  --icon-color: #33353e;
  --icon-gray-color: #696868;
  --icon-blue-color: #2471eb;
  --icon-blue-light-color: #325a9b;
  --icon-blue-lighter-color: #6f8bbd;

  // Button
  --primary-btn-color: #1a4a9b;
  --primary-btn-hover-color: #0d3a8b;
  --primary-btn-text-color: #ffffff;
  --pink-button: #b0989f;
  --button-blue: #1a4a9b;
  --button-white: #ffffff;
}
