@use "../abstracts/breakpoint-manager";

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 8rem;
  width: 8rem;
  padding: 8.6rem 1.2rem 17rem;
  z-index: 10;

  @include breakpoint-manager.respond-to("medium") {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    height: 6.4rem;
    width: 100%;
    padding: 1.8rem 3.2rem;
  }
}
