@use "../abstracts/breakpoint-manager";

.top-bar {
  @include breakpoint-manager.respond-to("medium") {
    max-height: 6.4rem;
    width: 100%;
    background-color: var(--theme-surface);
    padding: 2rem;
    filter: drop-shadow(-1px 1px 4px rgba(0, 0, 0, 0.11));
    z-index: 10;
  }
}
