<!DOCTYPE html>
<html lang="fa" theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activities</title>
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css" />
    <link rel="stylesheet" href="../activities/activities-empty.css" />
    <link rel="stylesheet" href="./profile-empty.css">
  </head>
  <body >
    <div class="full-container">
      <!-- ---============ Navigation ============--- -->
      <nav class="nav-container">
        <div class="nav-bar">
          <a href="">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27.7734 10.68L19.04 3.69332C17.3334 2.33332 14.6667 2.31998 12.9734 3.67998L4.24003 10.68C2.9867 11.68 2.2267 13.68 2.49337 15.2533L4.17337 25.3066C4.56003 27.56 6.65336 29.3333 8.93337 29.3333H23.0667C25.32 29.3333 27.4534 27.52 27.84 25.2933L29.52 15.24C29.76 13.68 29 11.68 27.7734 10.68ZM17 24C17 24.5467 16.5467 25 16 25C15.4534 25 15 24.5467 15 24V20C15 19.4533 15.4534 19 16 19C16.5467 19 17 19.4533 17 20V24Z"
                fill="#DADCE5"
              />
            </svg>
          </a>
          <a href="">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M23.8793 14.2934H19.7593V4.69336C19.7593 2.45336 18.546 2.00003 17.066 3.68003L15.9993 4.89336L6.97262 15.16C5.73262 16.56 6.25262 17.7067 8.11928 17.7067H12.2393V27.3067C12.2393 29.5467 13.4526 30 14.9326 28.32L15.9993 27.1067L25.026 16.84C26.266 15.44 25.7459 14.2934 23.8793 14.2934Z"
                fill="#DADCE5"
              />
            </svg>
          </a>
          <a href="">
            <svg
              class="nav-bar_active"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.9036 26.6094C17.2699 26.6946 17.3034 27.1744 16.9466 27.2933V27.2933L14.84 27.9867C9.54663 29.6933 6.75997 28.2667 5.03997 22.9733L3.3333 17.7067C1.62663 12.4134 3.03997 9.61335 8.3333 7.90668L9.37063 7.56315C9.77349 7.42974 10.1612 7.83212 10.0388 8.23846C9.92673 8.61042 9.82162 9.0065 9.71997 9.42668L8.4133 15.0134C6.94663 21.2934 9.0933 24.76 15.3733 26.2534L16.9036 26.6094Z"
                fill="#DADCE5"
              />
              <path
                d="M22.8933 4.28005L20.6666 3.76005C16.2133 2.70672 13.56 3.57338 12 6.80005C11.6 7.61338 11.28 8.60005 11.0133 9.73339L9.70662 15.3201C8.39995 20.8934 10.12 23.6401 15.68 24.9601L17.92 25.4934C18.6933 25.6801 19.4133 25.8001 20.08 25.8534C24.24 26.2534 26.4533 24.3067 27.5733 19.4934L28.88 13.9201C30.1866 8.34672 28.48 5.58672 22.8933 4.28005ZM20.3866 17.7734C20.2666 18.2267 19.8666 18.5201 19.4133 18.5201C19.3333 18.5201 19.2533 18.5067 19.16 18.4934L15.28 17.5067C14.7466 17.3734 14.4266 16.8267 14.56 16.2934C14.6933 15.7601 15.24 15.4401 15.7733 15.5734L19.6533 16.5601C20.2 16.6934 20.52 17.2401 20.3866 17.7734ZM24.2933 13.2667C24.1733 13.7201 23.7733 14.0134 23.32 14.0134C23.24 14.0134 23.16 14.0001 23.0666 13.9867L16.6 12.3467C16.0666 12.2134 15.7466 11.6667 15.88 11.1334C16.0133 10.6001 16.56 10.2801 17.0933 10.4134L23.56 12.0534C24.1066 12.1734 24.4266 12.7201 24.2933 13.2667Z"
                fill="#DADCE5"
              />
            </svg>
          </a>
        </div>
        <img src="../../assets/images/add-circle.svg" alt="" />
      </nav>

      <!-- ---============ Main ============--- -->
      <main class="main-container">
        <section class="report">
            <header class="report__heading-report heading-report">
                <h2>
                    گزارش ها
                </h2>
                <div class="heading-report__calender">
                    <p class="heading-report__calender_white">روزانه</p>
                    <p class="heading-report__calender_white">هفتگی</p>
                    <p class="heading-report__calender_blue">ماهانه</p>
                    <p class="heading-report__calender_white">سالانه</p>
                </div>
            </header>
            <div class="report__container" >
                <div class="report__most-activity">
                    <div class="report__img-most-activity">
                        <img src="../../assets/images/Vector-gray.svg" alt="">
                        <p>1</p>
                    </div>
                    <div class="report__text-most-activity">
                        <h3>بدون فعالیت</h3> 
                    </div>
                </div>
                <div class="report__activity-chart">
                    <h3>بیشترین ها</h3>
                    <p>.اولین فعالیت خودت را بساز</p>
                    
                </div>
                <div  class="report__summary-activity">
                    <header class="report__summary-heading">
                        <h3>خلاصه گزارش</h3>
                    </header>
                    <p>.اولین فعالیت خودت رو بساز</p>
                </div>
            </div>
        </section>
      </main>

      <!-- ----============ Side Bar ============--- -->
        <aside class="side-bar-profile">
            <header class="side-bar-profile__heading heading">
                <div class="heading__profile-back">
                    <a href="">
                        <img src="../../assets/images/arrow-right.svg" alt="">
                    </a>
                    <h2>
                        پروفایل
                    </h2>
                </div>
                <a class="heading__notification" href="">
                    <img src="../../assets/images/Notification.svg" alt="">
                </a>
            </header>
            <div class="side-bar-profile__img" >
                <img src="../../assets/images/Avatar-sidebar.svg" alt="">
            </div>
            <p class="side-bar-profile__name">بهنام وهانی</p>
            <section class="side-bar-profile__info-container info-container ">
                <div class="info-container__line  ">
                    <div class="info-container__right">
                        <div class="info-container__img img">
                            <img class="img__user" src="../../assets/images/frame-blue.svg" alt="">
                        </div>
                        <p class="info-container__p">
                            پروفایل
                        </p>
                    </div>
                    <div class="info-container__left">
                        <p class="info-container__p-member-input">
                            behnam@gmail.com
                        </p>
                        <div class="info-container__img">
                            <img src="../../assets/images/left.svg" alt="">
                        </div>

                    </div>

                </div>
                <svg class="info-container__stroke" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 306 2">
                    <path d="M1 1H305" stroke="#DADCE5" stroke-linecap="round"/>
                </svg>
                <!-- line2 -->
                <div class="info-container__line  ">
                    <div class="info-container__right">
                        <div class="info-container__img">
                            <img src="../../assets/images/lock-red.svg" alt="">
                        </div>
                        <p class="info-container__p">
                            رمز عبور
                        </p>
                    </div>
                    <div class="info-container__left">
                        <p class="info-container__p-member-input">
                            ...........
                        </p>
                        <div class="info-container__img">
                            <img src="../../assets/images/left.svg" alt="">
                        </div>

                    </div>

                </div>
                <svg class="info-container__stroke" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 306 2">
                    <path d="M1 1H305" stroke="#DADCE5" stroke-linecap="round"/>
                </svg>
                <!-- line3 -->
                <div class="info-container__line  ">
                    <div class="info-container__right">
                        <div class="info-container__img">
                            <img src="../../assets/images/calendar-green.svg" alt="">
                        </div>
                        <p class="info-container__p">
                            سن
                        </p>
                    </div>
                    <div class="info-container__left">
                        <p class="info-container__p-member-input">
                           26
                        </p>
                        <div class="info-container__img">
                            <img src="../../assets/images/left.svg" alt="">
                        </div>

                    </div>

                </div>
                <svg class="info-container__stroke" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 306 2">
                    <path d="M1 1H305" stroke="#DADCE5" stroke-linecap="round"/>
                </svg>
                <!-- line4 -->
                <div class="info-container__line  ">
                    <div class="info-container__right">
                        <div class="info-container__img">
                            <img src="../../assets/images/crown-golden.svg" alt="">
                        </div>
                        <p class="info-container__p">
                            اشتراک
                        </p>
                    </div>
                    <div class="info-container__left">
                        <p class="info-container__p-member-input">
                            عادی
                        </p>
                        <div class="info-container__img">
                            <img src="../../assets/images/left.svg" alt="">
                        </div>

                    </div>

                </div>
                <svg class="info-container__stroke" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 306 2">
                    <path d="M1 1H305" stroke="#DADCE5" stroke-linecap="round"/>
                </svg>
            </section >

        </aside>
    </div>
  </body>
</html>
