<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css" />
    <link rel="stylesheet" href="./register.css" />
  </head>
  <body theme="light">
    <main class="main-container">
      <div class="frame">
        <a class="frame__back-arrow" href="">
          <img src="../../assets/images/arrow-right.svg" alt="">
        </a>
        <!-- ============ Header ============ -->
        <header class="reverse-content">
          <h1 class="frame__header">ثبت نام</h1>
          <img src="../../assets/images/login-img.png" alt="" />
        </header>
        <!-- ============ Form ============ -->
        <form class="form" action="">
          <div class="input-container">
            <div class="input-container__input-block">
              <input type="email" name="" id="" />
              <label for="">ایمیل</label>
            </div>
            <img src="../../assets/images/person.svg" alt="" />
          </div>
          <div class="input-container">
            <img
              class="input-container_hide-pass"
              src="../../assets/images/eye-slash.svg"
              alt=""
            />
            <div class="input-container__input-block">
              <input type="password" name="" id="" />
              <label for="">رمز عبور</label>
            </div>
            <img src="../../assets/images/lock.svg" alt="" />
          </div>
          <input class="form__submit" type="submit" value="ثبت نام" />
        </form>
      </div>
    </main>
  </body>
</html>
