@use "../base/typography" as *;
@use "../../sass/abstracts/breakpoint-manager";

.activity-card {
  display: flex;
  flex-direction: column;
  min-width: 28rem;
  width: 28rem;
  background-color: var(--theme-surface);
  border-radius: 24px;
  padding: 1.6rem;
  gap: 2.4rem;
  filter: drop-shadow(0px 0px 4px #0043650c);

  &:hover {
    background-color: var(--theme-on-hover-primary);
    transition: background-color 1s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include typography("text-18-32-bold-900", "text-16-28-bold-900");
  }

  &__description {
    @include typography(
      "text-14-28-normal-light-600",
      "text-12-20-normal-light-600"
    );
    height: 8.4rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.5rem;
    gap: 1.6rem;
    border-top: 0.1rem solid var(--theme-outline-100);
  }

  &__date-time {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;
    @include typography("text-14-28-normal-700", "text-12-20-normal-700");
  }

  &__date,
  &__time {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.4rem;
  }

  &_empty {
    align-self: center;
    padding-top: 21.4rem;
    padding-bottom: 21.4rem;
  }

  @include breakpoint-manager.respond-to("medium") {
    min-width: 31.2rem;
    gap: 1.2rem;
    padding: 1.2rem;

    &__footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: cneter;
      margin: 0 0.4rem 0.4rem;
    }

    &__img {
      width: 28.8rem;
      height: 15.6rem;
      object-fit: fill;
    }

    &__header {
      margin: 1.2rem 0.4rem 0.2rem 0.8rem;
    }

    &__description {
      height: 6rem;
      margin: 0 0.4rem 0;
    }

    &__main {
      gap: 0;
    }

    &_empty {
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
    }
  }
}
