@use "../abstracts/breakpoint-manager";
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.calender {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--theme-background);
  border-radius: 24px;

  &__month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include typography("text-18-32-bold-900");
  }

  &__next-prev-month {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.6rem;
  }

  &__weekdays {
    display: flex;
    text-align: center;
    gap: 4.3rem;
    @include typography("text-14-28-semi-500");
    padding-right: 0.8rem;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 3.2rem);
    gap: 0.8rem 2.067rem;
    direction: rtl;
    text-align: center;
    @include typography("text-16-32-normal-900");

    li {
      position: relative;
      cursor: pointer;
    }
  }

  &__day_today {
    background-color: var(--theme-primary-600);
    color: var(--theme-on-primary-50);
    border-radius: 12px;
  }

  &__day_inactive {
    color: var(--theme-text-primary-400);
  }

  &__day_have-event {
    position: absolute;
    right: -1rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--theme-primary-600);
    border-radius: 50%;
    text-align: center;
    @include typography("text-10-16-normal-700");
    color: var(--theme-on-primary-50);
  }

  &__weekdays-date {
    display: none;
  }

  @include breakpoint-manager.respond-to("medium") {
    display: none;
  }
}

.mobile-calender {
  display: none;

  @include breakpoint-manager.respond-to("medium") {
    display: inline;
    filter: drop-shadow(0 0 4px #0043650C);

    &__weekdays {
      display: flex;
      gap: 0.8rem;
      // @include typography.title-font-l();
      color: var(--inactive-calender-days-color);
      text-align: center;
    }

    &__weekdays-date {
      // @include typography.title-font-static-m();
      line-height: normal;
    }

    &__day {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0.8rem 1.2rem;
      background-color: var(--frame-color);
      border-radius: 24px;

      &_today, &_today > span{
        background-color: var(--primary-btn-color);
        color: var(--primary-color);
      }
    }

    &__day_have-event {
      position: absolute;
      right: 0;
      top: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-color: var(--primary-btn-color);
      border-radius: 50%;
      color: var(--primary-color);
      text-align: center;
      // @include typography.text-font-static-xxs();
    }

  }
}
