@use "../abstracts/mixins" as *;
@use "../../sass/base/typography";
@use "../abstracts/variables" as *;

.horizontal-scroll {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 1.2rem;
  height: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

