@use "../abstracts" as *;
@use "../base/typography" as *;
@use "../themes/theme";

.lbl {
  @include typography("text-14-28-semi-700", "text-12-20-semi-700");
  border-radius: 16px;
  padding: 0.2rem 0.8rem;
  align-self: flex-start;

  &_red {
    background-color: var(--theme-danger);
    color: var(--theme-text-danger);
  }

  &_orange {
    background-color: var(--theme-warning);
    color: var(--theme-text-warning);
  }

  &_yellow {
    background-color: var(--theme-caution);
    color: var(--theme-text-caution);
  }

  &_blue {
    background-color: var(--theme-info);
    color: var(--theme-text-info);
  }

  @include respond-to("medium") {
    border-radius: 12px;
  }
}
