@use "../abstracts/mixins" as *;
@use "../../sass/abstracts/breakpoint-manager";
@use "../../sass/base/typography";
@use "../abstracts/variables" as *;
.report {
  width: 100%;

  &__heading-report {
    margin-bottom: 1.6rem;
  }
  
  &__container {
    width: 100%;
    @include box-container-direction-row(2rem);
    flex-wrap: wrap;
  }
  
  &__most-activity {
    @include report-box;
    padding: 2rem 2.4rem;
    width: 28rem;
    direction: rtl;
  }
  
  &__most-activity-img {
    position: relative;
    width: 8rem;
    max-height: 8rem;
    margin-top: 1.8rem;

    img {
      @include img-fill;
    }
  
    p {
      position: absolute;
      top: 2.3rem;
      left: 3.3rem;
      font-size: var(--font-size-xxl);
      line-height: var(--line-height-xl-xl);
      font-weight: #{$font-semi-bold};
      color: var(--frame-color);
    }
  }
  
  &__most-activity-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    h3 {
      @include typography.text-font-ml-sm();
      font-weight: normal;
      margin-bottom: 1.8rem;
    }
  }
  
  &__activity-chart {
    width: 48rem;
    @include report-box($gap: 0px);
    padding: 2rem 2.4rem;
  
    h3 {
      margin-top: 4.8rem;
      @include typography.title-font-l();
    }
  
    > p {
      margin-bottom: 4.8rem;
      @include typography.text-font-ml-sm();
      font-weight: normal;
      text-align: center;
    }
  }
  
  &__summary-activity {
    width: 38rem;
    @include report-box($gap: 0px);
    padding: 2rem 2.4rem;

    p {
      @include typography.text-font-ml-sm();
      font-weight: normal;
      text-align: center;
      margin-bottom: 4.8rem;
    }
  
    h3 {
      text-align: center;
      margin-top: 4.8rem;
      @include typography.title-font-l();
    }
  }

  @include breakpoint-manager.respond-to("medium") {

    &__container {
      gap: 0.8rem;
    }
    
    &__most-activity {
      max-width: 10.8rem;
      padding: 2.7rem 2.1rem 5.1rem 2rem;
    }
    
    &__most-activity-img {
      width: 3rem;
      max-height: 3rem;
      margin-top: 0;
    
      p {
        position: absolute;
        top: 0.3rem;
        left: 0.8rem;
        font-size: var(--font-size-xxl);
        line-height: var(--line-height-m);
        font-weight: $font-semi-bold;
        color: var(--frame-color);
      }
    }
    
    &__most-activity-text h3 {
      margin-bottom: 0;
    }
    
    &__activity-chart {
      max-width: 19.6rem;
      padding: 4.8rem 1.8rem 4.8rem 1.7rem;
    
      h3 {
        margin-top: 0;
      }
    
      p {
        margin-bottom: 0;
        font-weight: normal;
      }
    }
    
    &__summary-activity {
      max-width: 31.2rem;
      padding: 4.8rem 6.5rem 4.8rem 6.6rem;
    
      p {
        margin-bottom: 0;
        font-weight: normal;
      }
    
      h3 {
        margin-top: 0;
      }
    }
  }
}

.heading-report {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
  h2 {
    @include header-normal;
  }
  
  &__calender {
    @include box-container-direction-row(0.8rem);
  
    p {
      display: flex;
      padding: 0rem 0.8rem;
      justify-content: flex-end;
      align-items: center;
      border-radius: 1.2rem;
    }
  
    &_white {
      background: var(--background-box-img);
      box-shadow: 0rem 0rem 0.4rem 0rem rgba(0, 67, 101, 0.05);
    }
  
    &_blue {
      border: 0.1rem solid var(--border-blue);
      background: var(--background-blue-light);
    }
  }
}
