<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-email</title>
    <link rel="stylesheet" href="./edit-email.css" />
  </head>
  <body theme="light">
    <section class="section-container">
      <div class="container">
        <h3 class="container__heading">ایمیل خود را وارد کنید.</h3>
        <!-- form edit-email -->
        <form class="form" action="">
          <div class="form__box">
            <input
              class="form__input-field"
              type="email"
              name="email-member"
              id="email-member"
            />
            <label class="form__label" for="email-member">ایمیل</label>
          </div>
          <div class="form__img-wrapper">
            <img src="../../assets/images/user.svg" alt="" />
          </div>
        </form>
        <!-- button -->
        <div class="container__button">
          <button class="button button_white">لغو</button>
          <button class="button button_blue">تایید</button>
        </div>
      </div>
    </section>
  </body>
</html>
