<!DOCTYPE html>
<html lang="en" theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../components/edit/edit-name.css" />
    <link rel="stylesheet" href="../../assets/fonts/Yekan/Yekan.css">
</head>
<body>
    <section class="section-container">
        <div class="container">
          <h3 class="container__heading">نام خود را وارد کنید</h3>
          <!-- form activity type -->
          <form class="form" action="">
            <div class="form__box">
              <input
                class="form__input-field"
                type="text"
                name="activity-type"
                id="activity-type-for"
              />
              <label class="form__label" for="activity-type-for"
                >نام</label
              >
            </div>
            <div class="form__img-wrapper">
              <img src="../../assets/images/user.svg" alt="" />
            </div>
          </form>
          <!-- button -->
          <div class="container__button button">
            <button
              class="button__element button__element-white">
              لغو
            </button>
            <button class="button__element button__element-blue">
              ایجاد
            </button>
          </div>
        </div>
      </section>
</body>
</html>