<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit-subscribtion</title>
    <link rel="stylesheet" href="./edit-subscribtion.css" />
  </head>
  <body theme="light">
    <section class="frame-modal">
      <div class="container">
        <h3 class="container__heading">نوع اشتراک خود را انتخاب کنید.</h3>

        <section class="container__subscribtion">
          <a class="container__subscribtion-type">
            <p>عادی</p>
            <div>
              <img src="../../assets/images/frame-subscribtion.svg" alt="" />
            </div>
          </a>

          <a class="container__subscribtion-type">
            <p>ویژه</p>
            <div>
              <img src="../../assets/images/crown.svg" alt="" />
            </div>
          </a>
        </section>
        <div class="container__button" id="margin-left">
          <button class="button button_white">لغو</button>
          <button class="button button_blue">تایید</button>
        </div>
      </div>
    </section>
  </body>
</html>
